﻿@using Bazarkin.Web.Models
@model CatalogView

@{
//ViewBag.Title = "Index";
}

<div class="w-section categoryset margintop47">
    <div class="w-container">
        @foreach (var catalogCategory in Model.catalogCategorySet)
        {
            <div class="catalogitem1">
                <a href="~/kategoriya/@catalogCategory.category.Alias">
                    <div>
                        <img class="catalogimg1" src="~/Content/Images/category/@(catalogCategory.category.Image).jpg">
                        <div class="catalogtext1">@catalogCategory.category.Name</div>
                    </div>
                </a>
            </div>
            if (catalogCategory.catalogCategorySet != null)
            {
                foreach (var catalogCategory2 in catalogCategory.catalogCategorySet)
                {
                    <div class="catalogitem1 marginl30">
                        <a href="~/kategoriya/@catalogCategory2.category.Alias">
                            <div>
                                <img class="catalogimg2" src="~/Content/Images/category/@(catalogCategory2.category.Image).jpg">
                                <div class="catalogtext2">@catalogCategory2.category.Name</div>
                            </div>
                        </a>
                    </div>
                }
            }
        }
    </div>
</div>