﻿@using Bazarkin.Web.Models
@model CategoryListView

@{
    //ViewBag.Title = "CategoryList";
}
@Html.Partial("Header")
@if (Model.categoryParent.Name == "root")
{
    @Html.Partial("SliderTop")
}
else
{
    @Html.Partial("BreadCrumbs")
}

<div class="w-section categoryset">
    <div class="w-container">
        <div class="w-row">
            @foreach (var category in Model.categorySet)
            {
                <div class="w-col @(Model.categoryParent.Name == "root" ? "w-col-3" : "w-col-2") w-col-small-3 w-col-tiny-4">
                    <div class="categorycard">
                    <a href="~/kategoriya/@category.Alias">
                        <img class="categoryimg" src="~/Content/Images/category/@(category.Image).jpg">
                        <div class="category-name">@category.Name</div>
                    </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
