﻿@using Bazarkin.Web.Models
@model CategoryView

@{
//ViewBag.Title = "CategoryList";
}
@Html.Partial("Header")
@if (Model.categoryParent == null)
{
    @Html.Partial("SliderTop")
}
else
{
    @Html.Partial("BreadCrumbs")
}

<div class="w-section categoryset">
    <div class="w-container">
        @if (Model.categoryParent != null)
        {
            <h2 class="head100">@Model.breadCrumbs.BreadCrumbsItemSet.LastOrDefault().name</h2>
        }
        @if (Model.categoryList != null)
        {
            @Html.Partial("CategoryList")
        }
        @if (Model.goodCardList != null && Model.goodCardList.Count()!=0)
        {
            @Html.Partial("GoodList")
        }
    </div>
</div>