﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Описание">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/Template/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Template/css/grid.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Template/css/bazarkin.green.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic"]
            }
        });
    </script>
    <script type="text/javascript" src="~/Content/Template/js/modernizr.js"></script>
    @*<link rel="shortcut icon" type="image/x-icon" href="~/Content/Template/favicon.ico">*@
    <link rel="apple-touch-icon" href="~/Content/Template/webclip.png">
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/Template/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/Template/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/Template/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Template/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/Template/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Template/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/Template/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Template/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Template/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/Template/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Template/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/Template/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Template/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Content/Template/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/Template/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="w-section header">
        <div class="w-container">
            <div class="h_logo">
                <a href="/"><img src="~/Content/Template/images/logo.svg" width="26"></a>
            </div>
            <div class="h_search">
                <a class="poiskiconca" href="/catalog">
                    <div>Каталог</div>
                </a>
                <div class="poiskpole"></div>
                <div class="poiskknopka">
                    <i class="fa fa-search fa-fw"></i>
                    @*<img src="~/Content/Template/images/search.png" width="16">*@
                </div>
            </div>
            <div class="w-clearfix h_btn">
                <div class="w-clearfix topbtn">
                    <div class="topbtnicon">
                        <i class="fa fa-clone fa-fw"></i>
                        @*<img src="~/Content/Template/images/comparison.png" width="16">*@
                    </div>
                    <div class="topbtntext">
                        <div>Сравнение</div>
                    </div>
                    <div class="w-clearfix topbtnbox">
                        <div class="topbtnboxgreen topdarckgreen">
                            <div>0</div>
                        </div>
                    </div>
                </div>
                <div class="w-clearfix topbtn">
                    <div class="topbtnicon">
                        <i class="fa fa-bookmark-o fa-fw"></i>
                        @*<img src="~/Content/Template/images/favorit.png" width="16">*@
                    </div>
                    <div class="topbtntext">
                        <div>Закладки</div>
                    </div>
                    <div class="w-clearfix topbtnbox">
                        <div class="topbtnboxgreen">
                            <div>8</div>
                        </div>
                    </div>
                </div>
                <div class="w-clearfix topbtn">
                    <div class="topbtnicon">
                        <i class="fa fa-shopping-cart fa-fw"></i>
                        @*<img src="~/Content/Template/images/cart.png" width="16">*@
                    </div>
                    <div class="topbtntext">
                        <div>Корзина</div>
                    </div>
                    <div class="w-clearfix topbtnbox">
                        <div class="topbtnboxgreen">
                            <div>3</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-clearfix h_bay">
                <div class="toptext">26 800 р</div>
                <div class="topbtngreen">
                    @*topbtngreenDarck*@
                <div>Оформить</div>
            </div>
        </div>
    </div>
</div>
@RenderBody()
<div class="w-section footer">
    <div class="w-container">
        <div class="footerblock1">
            <a class="footerlink" href="/Info/AboutPortal">О портале</a><a class="footerlink" href="/Info/Agreement">Пользователям</a><a class="footerlink" href="/Info/Partners">Партнерам</a><a class="footerlink" href="/Info/Contacts">Контакты</a>
        </div>
        <div class="footerblock1">
            <a class="footerlink" href="/Info/HowToOrder">Как заказать?</a><a class="footerlink" href="/Info/HowToPay">Как оплатить?</a><a class="footerlink" href="/Info/HowToGet">Как получить?</a><a class="footerlink" href="/Info/ReturnsAndWarranty">Гарантия</a>
        </div>
        <div class="footerblock2">
            <div class="footerblock3">
                <a class="footerlink" href="/Info/Markets">Рынки</a><a class="footerlink" href="/Info/Delivery">Доставка</a>
            </div>
            <div class="footerblock3">
                <a class="footerlink" href="/Info/Bonuses">Бонусы</a><a class="footerlink" href="/Info/Apps">Приложения</a>
            </div>
        </div>
        <div class="footerinfo">
            <div>
                <strong>Bazarkin</strong> – это информационный портал, объединяющий все рынки Москвы, Петербурга и регионов страны в первый онлайн рынок.
                <br><strong>Цель портала</strong> – предоставить максимально удобный сервис для заказов товаров и услуг.
            </div>
        </div>
        <div class="footersocial">
            <img class="footersocialicon" src="~/Content/Template/images/socialicon/vk.png"><img class="footersocialicon" src="~/Content/Template/images/socialicon/ok.png"><img class="footersocialicon" src="~/Content/Template/images/socialicon/youtube.png"><img class="footersocialicon" src="~/Content/Template/images/socialicon/facebook.png">
        </div>
        <div class="foorerpravo">
            <div class="w-row rowfooter">
                <div class="w-col w-col-4 w-col-small-4">
                    <div class="footercopyright">
                        Bazarkin ©2015
                        <br>Все права защищены
                    </div>
                </div>
                <div class="w-col w-col-8 w-col-small-8">
                    <div class="footerpravo">Вся представленная на сайте информация ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации и размещена в ознакомительных целях и может отличаться от действительности.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Template/js/webflow.js"></script>
</body>
</html>
