﻿<div class="w-section path">
    <div class="w-container krohki">
        <div class="categorytree">
            <a href="/"><div><i class="fa fa-home fa-fw"></i></div></a>
        </div>
        @if (Model.breadCrumbs.BreadCrumbsItemSet.Count != 0)
        {
            for (int i = 0; i < Model.breadCrumbs.BreadCrumbsItemSet.Count; i++)
            {
                if (i == Model.breadCrumbs.BreadCrumbsItemSet.Count - 1)
                {
                    <div class="categorytree categorytreeactiv">
                        <div><i class="fa fa-caret-right fa-fw"></i>@Model.breadCrumbs.BreadCrumbsItemSet[i].name</div>
                    </div>
                }
                else
                {
                    <div class="categorytree">
                        <a href="@Model.breadCrumbs.BreadCrumbsItemSet[i].href"><div><i class="fa fa-caret-right fa-fw"></i>@Model.breadCrumbs.BreadCrumbsItemSet[i].name</div></a>
                    </div>
                }
            }
        }
    </div>
</div>
