﻿<div class="w-row">
    @foreach (var category in Model.categoryList)
    {
        <div class="w-col @(Model.categoryParent == null ? "w-col-3" : "w-col-2") w-col-small-3 w-col-tiny-4">
            <div class="categorycard @(Model.categoryParent == null ? "categorycardBig" : "")">
                <a href="~/kategoriya/@category.Alias">
                    @if (category.Image != null)
                    {
                        <img class="categoryimg" src="~/Content/Images/category/@(category.Image).jpg">
                    }
                    else
                    {
                        <img class="categoryimg" src="~/Content/Images/category/folderNull.jpg">
                    }

                    <div class="category-name">@category.Name</div>
                </a>
            </div>
        </div>
    }
</div>