﻿<div class="w-section top paddingtop0" style="background-image:url('/Content/Images/organizationBackground/1.png')">
    <div class="organizationheadwrwhite">
        <div class="w-container">
            <a href="/">
                    <div class="w-clearfix">
                        <div class="organizationname">@Model.organizationName</div>
                    </div>
            </a>
            <div class="phone phoneBlack organizationphone">
                <div><i class="fa fa-phone fa-fw colorgreen icon24"></i> @Model.organizationPhone</div>
            </div>
        </div>
    </div>
</div>