﻿<div class="w-section top @(ViewBag.White!=null ? "" : "topNone")">
    <div class="w-container">
        <a href="/">
            <div class="w-clearfix t_logo">
                <img class="logoimage" src="~/Content/Template/images/@(ViewBag.White!=null ? "logo.svg" : "logoGreen.svg")" width="50">
                <div class="w-clearfix logotextset">
                    <div class="logotext @(ViewBag.White!=null ? "" : "logotextBlack")">Bazarkin</div>
                    <div class="logotitle @(ViewBag.White!=null ? "" : "logotitleBlack")">Первый онлайн рынок</div>
                </div>
            </div>
        </a>
        <img class="avatar" src="~/Content/Template/images/@(ViewBag.White!=null ? "avatar.png" : "avatarGreen.png")" width="50">
        <div class="phone @(ViewBag.White!=null ? "" : "phoneBlack")">
            <div><i class="fa fa-phone fa-fw @(ViewBag.White!=null ? "" : "colorgreen") icon24"></i> 8 495 120 15 55</div>
        </div>
        <div class="t_faq">
            <a class="t_faq_link @(ViewBag.White!=null ? "" : "t_faq_linkBlack") padnone" href="/Info/HowToOrder">Как купить?</a><a class="t_faq_link @(ViewBag.White!=null ? "" : "t_faq_linkBlack")" href="/Info/Markets">Рынки</a><a class="t_faq_link @(ViewBag.White!=null ? "" : "t_faq_linkBlack") padnone" href="/Info/ReturnsAndWarranty">Гарантия и возврат</a><a class="callme @(ViewBag.White!=null ? "" : "callmeGreen")" href="#">Обратный звонок</a>
        </div>
    </div>
</div>