﻿@using Sindika.Web.Models
@model OrganizationCategoryView

@{
//ViewBag.Title = "Index";
}
<div class="w-section top paddingtop0" style="background-image:url('/Content/Images/organizationBackground/@("2").png'); background-position: 50% 50%;">
    <div class="organizationheadwrwhite">
        <div class="w-container">
            <a href="@("org" + Model.organization.Id)">
                <div class="w-clearfix">
                    <div class="organizationname">@Model.organizationName</div>
                </div>
            </a>
            @if (@Model.organizationPhone != null)
            {
                <div class="phone phoneBlack organizationphone">
                    <div><i class="fa fa-phone fa-fw icon24"></i> @Model.organizationPhone</div>
                </div>
            }
        </div>
    </div>
</div>
@Html.Partial("BreadCrumbs")
<div class="w-section">
    <div class="w-container">
        @Html.Partial("GoodList",Model.categoryView)
    </div>
</div>
