﻿@*@using Sindika.Web.Models
    @model List<CategoryView.GoodCard>*@
@{
//ViewBag.Title = "Index";
}


@Html.Partial("Header")
@*@Html.Partial("BreadCrumbs")*@

<div class="w-section categoryset">
    <div class="w-container">
        <div class="w-row cartItem">
            <div class="w-col w-col-2 w-col-small-3 w-col-tiny-3 padding0">
                    <a class="padding0" href="/tovar/1161">
                        <img class="goodcardimg cartImg" src="~/Content/Images/good/7.jpg">
                    </a>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
                    <a href="/tovar/5">
                        <div class="cartName">
                            <div class="goodcardmanufacturer">DeWalt</div>
                            <div class="goodcardmodel">DCD936L2</div>
                            <div class="displayNone">Диаметр патрона: 13, Кол-во скоростей: 3, Макс. диаметр сверления бетона: 14, Макс. диаметр сверления дерева: 45, Макс. диаметр сверления металла: 13, Макс. количество ударов в минуту: 30600</div>
                        </div>
                        @*<div>@goodCard.propertyValueLine</div>*@
                        @*@if (goodCard.priceSet == null || goodCard.priceSet.Count() == 0)
                            {
                                <div class="goodcardprice">нет в наличии</div>
                            }
                            else if (goodCard.priceSet.Count() == 1)
                            {
                                <div class="goodcardprice">@goodCard.priceSet.Min(x => x.Value) р.</div>
                            }
                            else
                            {
                                <div class="goodcardprice">от @goodCard.priceSet.Min(x => x.Value) р.</div>
                            }*@
                    </a>
            </div>
            <div class="w-col w-col-5 w-col-small-3 w-col-tiny-3">
                <div class="countAndPrice center">
                    <span class="cartPriceGood">13 800 р</span>
                    <span><a class="cartBtnCount radiusLeft radiusTop" href="#">-</a><span class="cartCount">1</span><a class="cartBtnCount radiusRight radiusBottom" href="#">+</a></span>
                    <span class="cartPriceGood">13 800 р</span>
                </div>
            </div>
            <div class="w-col w-col-1 w-col-small-2 w-col-tiny-2 padding0 lightGray radiusRight nadiusNone">
                <div class="cartDel">
                    <a class="cartDelBtn" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>

        <div class="w-row cartItem">
            <div class="w-col w-col-2 w-col-small-3 w-col-tiny-3 padding0">
                <a class="padding0" href="/tovar/1065">
                    <img class="goodcardimg cartImg" src="~/Content/Images/good/104.jpg">
                </a>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
                <a href="/tovar/5">
                    <div class="cartName">
                        <div class="goodcardmanufacturer">Gloria</div>
                        <div class="goodcardmodel">AutoPump Mini</div>
                        <div class="displayNone">Насос: Аккумуляторный насос, Объем: 1, Тип: Ручной опрыскиватель, Материал корпуса: Пластик, Цвет: Желтый/Синий</div>
                    </div>
                </a>
            </div>
            <div class="w-col w-col-5 w-col-small-3 w-col-tiny-3">
                <div class="countAndPrice center">
                    <span class="cartPriceGood">640 р</span>
                    <span><a class="cartBtnCount radiusLeft radiusTop" href="#">-</a><span class="cartCount">2</span><a class="cartBtnCount radiusRight radiusBottom" href="#">+</a></span>
                    <span class="cartPriceGood">1 280 р</span>
                </div>
            </div>
            <div class="w-col w-col-1 w-col-small-2 w-col-tiny-2 padding0 lightGray radiusRight nadiusNone">
                <div class="cartDel">
                    <a class="cartDelBtn" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>

        <div class="w-row cartItem">
            <div class="w-col w-col-2 w-col-small-3 w-col-tiny-3 padding0">
                <a class="padding0" href="/tovar/1046">
                    <img class="goodcardimg cartImg" src="~/Content/Images/good/32.jpg">
                </a>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
                <a href="/tovar/5">
                    <div class="cartName">
                        <div class="goodcardmanufacturer">Santool</div>
                        <div class="goodcardmodel">Профи 4 010113-012-040</div>
                        <div class="displayNone">Длина щетины: 20, Материал бандажа: Металл, Материал рукояти: Дерево, Форма кисти: Плоская, Ширина кисти: 10</div>
                    </div>
                </a>
            </div>
            <div class="w-col w-col-5 w-col-small-3 w-col-tiny-3">
                <div class="countAndPrice center">
                    <span class="cartPriceGood">420 р</span>
                    <span><a class="cartBtnCount radiusLeft radiusTop" href="#">-</a><span class="cartCount">2</span><a class="cartBtnCount radiusRight radiusBottom" href="#">+</a></span>
                    <span class="cartPriceGood">840 р</span>
                </div>
            </div>
            <div class="w-col w-col-1 w-col-small-2 w-col-tiny-2 padding0 lightGray radiusRight nadiusNone">
                <div class="cartDel">
                    <a class="cartDelBtn" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>