﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Описание">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/Template/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Template/css/grid.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Template/css/sindika.css">
    <script type="text/javascript" src="~/Content/Template/js/modernizr.js"></script>
    @*<link rel="shortcut icon" type="image/x-icon" href="~/Content/Template/favicon.ico">*@
    <link rel="apple-touch-icon" href="~/Content/Template/webclip.png">
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/Template/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/Template/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/Template/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Template/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/Template/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Template/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/Template/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Template/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Template/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/Template/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Template/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/Template/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Template/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Content/Template/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/Template/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="w-section header">
        <div class="w-container">
            @*<div class="h_logo">
                    <a href="/"><img src="~/Content/Template/images/logo.svg" width="26"></a>
                </div>*@
            <div class="h_search">
                <a class="poiskiconca" href="~/catalog">
                    <div>Каталог</div>
                </a>
                <a class="t_btn" href="~/catalog">
                    <div class="poiskpole"></div>
                    <div class="poiskknopka">
                        <i class="fa fa-search fa-fw"></i>
                        @*<img src="~/Content/Template/images/search.png" width="16">*@
                    </div>
                </a>
            </div>
            <div class="w-clearfix h_btn">
                <a class="t_btn" href="~/zakladki">
                    <div class="w-clearfix topbtn">
                        <div class="topbtnicon">
                            <i class="fa fa-clone fa-fw"></i>
                            @*<img src="~/Content/Template/images/comparison.png" width="16">*@
                        </div>
                        <div class="topbtntext">
                            <div>Сравнение</div>
                        </div>
                        <div class="w-clearfix topbtnbox">
                            <div class="topbtnboxgreen topdarckgreen">
                                <div>0</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="t_btn" href="~/zakladki">
                    <div class="w-clearfix topbtn">
                        <div class="topbtnicon">
                            <i class="fa fa-bookmark-o fa-fw"></i>
                            @*<img src="~/Content/Template/images/favorit.png" width="16">*@
                        </div>
                        <div class="topbtntext">
                            <div>Закладки</div>
                        </div>
                        <div class="w-clearfix topbtnbox">
                            <div class="topbtnboxgreen">
                                <div>7</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="t_btn" href="~/korzina">
                    <div class="w-clearfix topbtn">
                        <div class="topbtnicon">
                            <i class="fa fa-shopping-cart fa-fw"></i>
                            @*<img src="~/Content/Template/images/cart.png" width="16">*@
                        </div>
                        <div class="topbtntext">
                            <div>Корзина</div>
                        </div>
                        <div class="w-clearfix topbtnbox">
                            <div class="topbtnboxgreen">
                                <div>5</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="w-clearfix h_bay">
                <div class="toptext">15 920 р</div>
                <a class="t_btn" href="~/korzina">
                    <div class="topbtngreen">
                        @*topbtngreenDarck*@
                        <div>Оформить</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="w-section footer">
        <div class="w-container">
            <div class="footerblock1">
                <a class="footerlink" href="~/info/OKomplekse">О комплексе</a><a class="footerlink" href="~/info/Arendatoram">Арендаторам</a><a class="footerlink" href="~/info/Contacti">Контакты</a>
            </div>
            <div class="footerblock1">
                <a class="footerlink" href="~/info/ShemaKompleksa">Схема комплекса</a><a class="footerlink" href="~/magazini">Магазины</a><a class="footerlink" href="~/info/Akcii">Скидки и акции</a>
            </div>
            <div class="footerblock2">
                <div class="footerblock3">
                    <a class="footerlink" href="~/info/Novosti">Новости</a>@*<a class="footerlink" href="/Info/Delivery">Как заказать?</a>*@
                </div>
                @*<div class="footerblock3">
                        <a class="footerlink" href="/Info/Bonuses">Как получить?</a>
                    </div>*@
            </div>
            <div class="footerinfo">
                <div>
                    <strong>Синдика</strong> - самый крупный в России строительный многофункциональный торгово-выставочный комплекс.
                </div>
            </div>
            <div class="footersocial">
                <img class="footersocialicon" src="~/Content/Template/images/socialicon/1.png"><img class="footersocialicon" src="~/Content/Template/images/socialicon/2.png"><img class="footersocialicon" src="~/Content/Template/images/socialicon/3.png"><img class="footersocialicon" src="~/Content/Template/images/socialicon/4.png"><img class="footersocialicon" src="~/Content/Template/images/socialicon/5.png"><img class="footersocialicon" src="~/Content/Template/images/socialicon/6.png">
            </div>
            <div class="foorerpravo">
                <div class="w-row rowfooter">
                    <div class="w-col w-col-4 w-col-small-4">
                        <div class="footercopyright">
                            © 2015 ООО «Синдика-О»
                        </div>
                    </div>
                    <div class="w-col w-col-8 w-col-small-8">
                        <div class="footerpravo">Использование текстов и фотографий с сайта sindika.ru только с письменного разрешения компании «Синдика».</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/Template/js/webflow.js"></script>
</body>
</html>
