﻿<div class="w-row">
    @foreach (var category in Model.categoryList)
    {
        string hrefStr;
        <div class="w-col @(Model.type=="Category" && Model.categoryParent == null ? "w-col-3" : "w-col-2") w-col-small-3 w-col-tiny-4">
            <div class="categorycard @(Model.type=="Category" && Model.categoryParent == null ? "categorycardBig" : "")">
                @if (Model.type == "Category")
                {
                    hrefStr = "/kategoriya/" + @category.Alias;
                }
                else
                {
                    hrefStr = "org" + Model.organizationAndInfo.organization.Id + "/kategoriya/" + @category.Alias;
                }
                <a href="@hrefStr">
                    @if (category.Image != null)
                    {
                        <img class="categoryimg" src="~/Content/Images/category/@(category.Image).jpg">
                    }
                    else
                    {
                        <img class="categoryimg" src="~/Content/Images/category/folderNull.jpg">
                    }

                    <div class="category-name">@category.Name</div>
                </a>
            </div>
        </div>
    }
</div>