﻿@using Sindika.Web.Models
@model CategoryView

<div class="w-row">
    <div class="w-col w-col-3 w-col-tiny-push-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.categoryParent.Id)
            <div class="filtertitle"><i class="fa fa-filter fa-fw"></i> Фильтры</div>
            <section class="ac-container">
                <div>
                    <input id="ac-1" class="acTitle" name="accordion-1" type="checkbox" @*checked*@ />
                    <label for="ac-1">Цена</label>
                    <article>
                        <div class="split50">@Html.TextBoxFor(x => x.priceMin, new { placeholder = "От" })</div>
                        <div class="split50">@Html.TextBoxFor(x => x.priceMax, new { placeholder = "До" })</div>
                    </article>
                </div>
                @*<div class="filtername">Цена <span class="textgray">@(Model.priceList.Min(x => x.Value)) — @(Model.priceList.Max(x => x.Value))</span></div>
                    @*<div class="filterchrckbox">@Model.priceSet.Min(x=>x.Value) - @Model.priceSet.Max(x=>x.Value)</div>
                        <div class="filterchrckbox">От: @Html.TextBoxFor(x => x.priceMin, new { placeholder = "От"})</div>
                        <div class="filterchrckbox">До: @Html.TextBoxFor(x => x.priceMax, new { placeholder = "До" })</div>
                    <div class="filterchrckbox">
                        <div class="split50">@Html.TextBoxFor(x => x.priceMin, new { placeholder = "От" })</div>
                        <div class="split50">@Html.TextBoxFor(x => x.priceMax, new { placeholder = "До" })</div>
                    </div>*@
                <div>
                    <input id="ac-2" class="acTitle" name="accordion-1" type="checkbox" />
                    <label for="ac-2">Производители</label>
                    <article>
                        @for (int i = 0; i < Model.manufacturerFlagList.Count(); i++)
                        {
                            @Html.HiddenFor(x => x.manufacturerFlagList[i].manufacturer.Id)
                            <div class="filterchrckbox">
                                @Html.CheckBoxFor(x => x.manufacturerFlagList[i].flag) @Model.manufacturerFlagList[i].manufacturer.Name
                            </div>
                        }
                    </article>
                </div>

                @for (int i = 0; i < Model.filterList.Count(); i++)
                {
                    <div>
                        <input id="ac-@(i+3)" class="acTitle" name="accordion-1" type="checkbox" />
                        <label for="ac-@(i+3)">@Model.filterList[i].propertyGroup.Name</label>
                        <article>
                            @for (int j = 0; j < @Model.filterList[i].filterItemSet.Count(); j++)
                            {
                                @Html.HiddenFor(x => x.filterList[i].filterItemSet[j].propertyType.FilterType)
                                if (@Model.filterList[i].filterItemSet[j].propertyType.FilterType == "list")
                                {
                                    <div class="filterchrckbox">@Model.filterList[i].filterItemSet[j].property.Name</div>
                                    for (int s = 0; s < @Model.filterList[i].filterItemSet[j].propertyValueFlagSet.Count(); s++)
                                    {
                                        @Html.HiddenFor(x => x.filterList[i].filterItemSet[j].propertyValueFlagSet[s].propertyValue.Id)
                                        @Html.HiddenFor(x => x.filterList[i].filterItemSet[j].property.Id)
                                        <div class="filterchrckbox">
                                            @Html.CheckBoxFor(x => x.filterList[i].filterItemSet[j].propertyValueFlagSet[s].flag) @Model.filterList[i].filterItemSet[j].propertyValueFlagSet[s].propertyValue.Value
                                        </div>
                                    }
                                }
                                else if (@Model.filterList[i].filterItemSet[j].propertyType.FilterType == "interval")
                                {
                                    @Html.HiddenFor(x => x.filterList[i].filterItemSet[j].property.Id)
                                    @*@Html.HiddenFor(x => x.filterSet[i].filterItemSet[j].propertyValue.Id)*@
                                    @*@Html.HiddenFor(x => x.filterSet[i].filterItemSet[j].propertyValue.Value)*@
                                    @*@Html.HiddenFor(x => x.filterSet[i].FilterItemSet[j].propertyValue.ModificationGood.Id)*@
                                    <div class="filterchrckbox">@Model.filterList[i].filterItemSet[j].property.Name <span class="textgray">@Model.filterList[i].filterItemSet[j].propertyValueFlagSet.Min(x => x.propertyValue.Value) — @Model.filterList[i].filterItemSet[j].propertyValueFlagSet.Max(x => x.propertyValue.Value)</span></div>
                                    @*<div class="filterchrckbox">От: @Html.TextBoxFor(x => x.filterSet[i].filterItemSet[j].valueMin)</div>
                                        <div class="filterchrckbox">До: @Html.TextBoxFor(x => x.filterSet[i].filterItemSet[j].valueMax)</div>*@
                                    <div class="filterchrckbox">
                                        <div class="split50">@Html.TextBoxFor(x => x.filterList[i].filterItemSet[j].valueMin, new { placeholder = "От" })</div>
                                        <div class="split50">@Html.TextBoxFor(x => x.filterList[i].filterItemSet[j].valueMax, new { placeholder = "До" })</div>
                                    </div>
                                }
                            }
                        </article>
                    </div>

                    
                }
            </section>
            <input class="btnfilter" type="submit" value="Показать" />
        }
    </div>
    <div class="w-col w-col-9 w-col-tiny-pull-12">
        <div class="w-row">
            @foreach (var goodCard in Model.goodCardList)
            {
                <div class="w-col w-col-3 w-col-small-6">
                    <div class="w-clearfix goodcard">
                        <div class="w-row">
                            <div class="w-col w-col-12 w-col-tiny-5">
                                <div class="w-clearfix">
                                    <a href="/tovar/@goodCard.good.Id">
                                        <img class="goodcardimg" src="~/Content/Images/good/@(goodCard.image).jpg">
                                    </a>
                                </div>
                            </div>
                            <div class="w-col w-col-12 w-col-tiny-7">
                                <div class="w-clearfix margin10LTel">
                                    <a href="/tovar/@goodCard.good.Id">
                                        <div class="goodcardmanufacturer">@goodCard.manufacturer.Name</div>
                                        <div class="goodcardmodel">@goodCard.good.Name</div>
                                        <div>Модификаций: @goodCard.modificationGoodCount</div>
                                        @*<div>@goodCard.propertyValueLine</div>*@
                                        @if (goodCard.priceSet == null || goodCard.priceSet.Count() == 0)
                                        {
                                            <div class="goodcardprice">нет в наличии</div>
                                        }
                                        else if (goodCard.priceSet.Count() == 1)
                                        {
                                            <div class="goodcardprice">@goodCard.priceSet.Min(x => x.Value) р.</div>
                                        }
                                        else
                                        {
                                            <div class="goodcardprice">от @goodCard.priceSet.Min(x => x.Value) р.</div>
                                        }
                                    </a>

                                    <div class="w-clearfix">
                                        <div class="goodcardicon">
                                            <i class=" fa fa-clone fa-fw icon22 margin10"></i><i class="fa fa-bookmark-o fa-fw icon22 margin10 margin6l"></i>
                                            @*<img class="goodcardbtnicon" src="~/Content/Template/images/comparisonGray.png" width="24"><img class="goodcardbtnicon" src="~/Content/Template/images/favoritGray.png" width="24">*@
                                        </div>
                                        <div class="goodcardbtn">
                                            <a class="goodcardbtntext" href="/tovar/@goodCard.good.Id">Показать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>