﻿<div class="w-section top @(ViewBag.White!=null ? "" : "topNone")">
    <div class="w-container">
        <a href="/">
            <div class="w-clearfix t_logo">
                <img class="logoimage" src="~/Content/Template/images/logo.png" height="60">
                <div class="w-clearfix logotextset">
                    <div class="logotext">СИНДИКА</div>
                    <div class="logotitle">СОБЕРИ СЕБЕ ДОМ!</div>
                </div>
            </div>
        </a>
        @*<img class="avatar" src="~/Content/Template/images/@(ViewBag.White!=null ? "avatar.png" : "avatarGreen.png")" width="50">*@
        <div class="phone">
            <div><i class="fa fa-phone fa-fw icon24"></i> 8 495 668 55 77</div>
        </div>
        <div class="t_faq">
            <a class="t_faq_link @(ViewBag.White!=null ? "" : "t_faq_linkBlack") padnone" href="~/info/OKomplekse">О комплексе</a><a class="t_faq_link @(ViewBag.White!=null ? "" : "t_faq_linkBlack")" href="~/magazini">Магазины</a><a class="t_faq_link @(ViewBag.White!=null ? "" : "t_faq_linkBlack") padnone" href="~/info/akcii">Акции</a>
        </div>
    </div>
</div>