﻿<div class="w-section top paddingtop0" style="background-image:url('/Content/Images/organizationBackground/@("2").png'); background-position: 50% 50%;">
    <div class="organizationheadwrwhite">
        <div class="w-container">
            <a href="@("org" + Model.organizationAndInfo.organization.Id)">
                    <div class="w-clearfix">
                        <div class="organizationname">@Model.organizationName</div>
                    </div>
            </a>
            @if (@Model.organizationPhone != null)
            {
                <div class="phone phoneBlack organizationphone">
                    <div><i class="fa fa-phone fa-fw icon24"></i> @Model.organizationPhone</div>
                </div>
            }
        </div>
    </div>
</div>