﻿@using Sindika.Web.Models
@model OrganizationView

@{
//ViewBag.Title = "Index";
}
@Html.Partial("HeaderOrganization")
@Html.Partial("BreadCrumbs")
<div class="w-section">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-5">
                @*<h2>@Model.organizationAndInfo.organization.Name</h2>*@
                @*<h3>Точка на Синдики 1</h3>*@
                @if (Model.organizationAndInfo.organization.Description != null)
                {
                    <b>Описание:</b>
                    <div class="tochkadescription">@Model.organizationAndInfo.organization.Description</div>
                }
                @if (Model.organizationAndInfo.phoneSet.Count() != 0)
                {
                    <div class="tochkiset">
                        <b>Телефонные номера:</b>
                        @foreach (var phone in Model.organizationAndInfo.phoneSet)
                        {
                            <div class="w-clearfix tochkaphonebox">
                                <div class="tochkaphone">@phone.Number</div>
                                <div class="tochkaphonedescription">@phone.Description</div>
                            </div>
                        }
                    </div>
                }
                @if (Model.organizationAndInfo.addressAndDescriptionSet.Count() != 0)
                {
                    <b>Административные адреса:</b>
                    foreach (var addressAndDescription in Model.organizationAndInfo.addressAndDescriptionSet)
                    {
                        <div class="w-clearfix tochkaphonebox">
                            <div>@addressAndDescription.addressStr <span class="textgray">@addressAndDescription.address.Description</span></div>
                        </div>
                    }
                }
            </div>

            <div class="w-col w-col-7">
                <div class="tochkamap">
                    <img src="~/Content/Images/maps/map@(Model.organizationUnitAndInfoSet[0].organizationUnit.Id).jpg" width="100%" />
                </div>
            </div>

            <div class="w-col w-col-12">
                @if (Model.organizationUnitAndInfoSet.Count != 0)
                {
                    <b>Торговые точки:</b>
                    <div class="tochkadescription">
                        @foreach (var organizationUnitAndInfo in Model.organizationUnitAndInfoSet)
                        {
                            foreach (var addressAndDescription in organizationUnitAndInfo.addressAndDescriptionSet)
                            {
                                <div>
                                    @addressAndDescription.addressStr <span class="textgray"> @addressAndDescription.address.Description</span>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
            <div class="margintop20">
                @Html.Partial("CategoryList")
            </div>
        </div>
    </div>
</div>
