﻿<div class="w-section">
    <div class="w-container">
        <div class="w-slider topslider" data-animation="outin" data-duration="500" data-infinite="1" data-delay="4000" data-autoplay="1">
            <div class="w-slider-mask">
                <div class="w-slide w-clearfix slidebox">
                    <img class="slidimgl" src="~/Content/Template/images/slider/1.png">
                    <div class="slidtitle slidtitle1">Самый крупный строительный центр в России</div>
                    @*<div class="slidtext slidtextr">все рынки и тысячи торговых точек на одном портале</div>*@
                </div>
                <div class="w-slide w-clearfix slidebox">
                    <img class="slidimgl" src="~/Content/Template/images/slider/2.png">
                    <div class="slidtitle slidtitle1">1200 магазинов -<br />1200 консультантов</div>
                    @*<div class="slidtext slidtextr">за каждый заказ начисляются бонусные баллы, которыми можно оплачивать покупки</div>*@
                </div>
                <div class="w-slide w-clearfix slidebox">
                    <img class="slidimgl" src="~/Content/Template/images/slider/3.png">
                    <div class="slidtitle slidtitle1">Комфорт торгового центра и возможности рынка</div>
                    @*<div class="slidtext slidtextr">специалисты портала круглосуточно примут заказ и ответят на возникнувшие вопросы</div>*@
                </div>
                <div class="w-slide w-clearfix slidebox">
                    <img class="slidimgl" src="~/Content/Template/images/slider/4.png">
                    <div class="slidtitle slidtitle1">Сопутствующие услуги</div>
                    @*<div class="slidtext slidtextr">вы можете заказать сборку, монтаж, установку и другие услуги</div>*@
                </div>
                <div class="w-slide w-clearfix slidebox">
                    <img class="slidimgl" src="~/Content/Template/images/slider/5.png">
                    <div class="slidtitle slidtitle1">Вся Cиндика в твоем кармане</div>
                    @*<div class="slidtext slidtextr">доставка осуществляется курьерскими и транспортными компаниями</div>*@
                </div>
            </div>
            @*<div class="w-slider-arrow-left strelki">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="w-slider-arrow-right strelki">
                <div class="w-icon-slider-right"></div>
            </div>*@
            <div class="w-slider-nav w-round"></div>
        </div>
    </div>
</div>
<div class="w-section bacground"></div>
