﻿@using Sindika.Web.Models
@model OrganizationListView

@{
//ViewBag.Title = "Index";
}


@Html.Partial("Header")
@Html.Partial("BreadCrumbs")

<div class="w-section categoryset">
    <div class="w-container">
        <div class="w-row">
            <h2>Организации</h2>
            @foreach (var organizationAndInfo in Model.OrganizationAndInfoList)
            {
                <div class="w-col w-col-12 w-col-small-12">
                    <div class="w-clearfix orgAllItem">
                        <p>
                            <a class="orgAllName" href="@(string.Format("/org{0}",organizationAndInfo.organization.Id))">@organizationAndInfo.organization.Name</a> <span class="orgAllAddress"> Address</span>
                        </p>
                        <p>
                            @foreach (var category in organizationAndInfo.categoryList)
                            {
                                <a class="categoryName" href="@(string.Format("/org{0}/kategoriya/{1}",organizationAndInfo.organization.Id, category.Alias))">@category.Name</a>
                            }
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>