﻿
@{
    ViewBag.Title = "Apps";
}
@Html.Partial("Header")
<div class="w-section categoryset">
    <div class="w-container">
        <h2>Приложение</h2>

        <p><b>Возьмите с собой Bazarkin</b></p>
        <p>скачайте наше удобное приложение для iPhone, Android и Windows Phone бесплатно!</p>
    </div>
</div>