﻿
@{
    ViewBag.Title = "Delivery";
}
@Html.Partial("Header")
<div class="w-section categoryset">
    <div class="w-container">
        <div class="textlr">
            <h2>Доставка</h2>
            <div class="textlimg">
                <p>
                    <i>
                        Пару часов в дороге, потраченный бензин или билеты на транспорт, помощь друзей или родственников и долгожданная покупка окажется у вас.<br>
                        Или&hellip;<br>
                        Кино с друзьями, ужин с родственниками, время на отдых или любимое хобби и долгожданная покупка уже заняла свое место у вас дома.
                    </i>
                </p>
                <p>
                    Выбирайте доставку Bazarkin и посвятите свое драгоценное время любимым вещам, а доставщик привезет вам любой товар из каталога Bazarkin. Курьеры привезут заказ в удобное для вас время и примут оплату на месте. Оплатить товар и доставку можно банковской карточкой или наличными.
                </p>
            </div>
            <div class="imgrtext">
                <img src="~/Content/Images/info/HowToGet1.png" alt="Bazarkin схема проезда" width="100%">
            </div>
            <p>
                Заказать доставку очень легко:
            </p>
            <div class="w-clearfix"></div>
            <img src="~/Content/Images/info/icons/16.png" alt="Выбор" class="leftimg">
            <p>Выберите любой понравившийся товар и оформите его покупку.</p>
            <div class="w-clearfix"></div>
            <img src="~/Content/Images/info/icons/17.png" alt="Доставка" class="leftimg">
            <p>Мы автоматически предложим подходящий Вам вид доставки.</p>
            <div class="w-clearfix"></div>
            <img src="~/Content/Images/info/icons/18.png" alt="Дата" class="leftimg">
            <p>Введите Ваш адрес и выберите удобный Вам день и время.</p>
            <div class="w-clearfix"></div>
            <img src="~/Content/Images/info/icons/19.png" alt="Связь" class="leftimg">
            <p>С Вами свяжется наш специалист и подтвердит время доставки.</p>
            <div class="w-clearfix"></div>
            <img src="~/Content/Images/info/icons/20.png" alt="Получить товар" class="leftimg">
            <p>Получите товар у нашего курьера в назначеное время.</p>
            <div class="w-clearfix"></div>
            <p>
                Стоимость различных видов доставки зависит от удаленности. Рассчитать стоимость доставки Вы можете в личном кабинете при оформлении заказа или позвонив нам по телефону: 88005003344.
            </p>
            <p>
                Каждый этап доставки с момента заказа услуги до получения товара вы можете отслеживать в вашем личном кабинете или позвонив нам по телефону 88005003344.
            </p>
            <p>
                Условия предоставления данной услуги:
            </p>
            <ul>
                <li>Доставка заказов на сумму свыше 120 тысяч рублей производится только после полной предоплаты;</li>
                <li>При доставке просим обязательно проверить в присутствии экспедитора внешний вид товара и комплектность поставки;</li>
                <li>Разгрузка, проверка и оплата товара должны быть произведены в течение 20 минут;</li>
                <li>Экспедитор не консультирует по вопросам технических параметров и функциональных особенностей товаров, их совместимости, стоимости и т.п. Эту информацию Вы можете получить у консультантов в торговой точке, либо у операторов call-центра;</li>
                <li>Оплату товара мы принимаем в рублях. Есть возможность оплатить покупку при помощи пластиковых карт систем Visa/MasterCard;</li>
                <li>Из соображений безопасности оплата принимается только в офисных или жилых помещениях, а также в автомобиле экспедитора;</li>
                <li>Если на территории места назначения доставки действует платный въезд, Вам нужно будет компенсировать стоимость въезда нашего экспедитора, иначе мы сможем доставить товар только до места платного въезда.</li>
            </ul>
            <p>
                Если у вас возникнут вопросы по оформлению заявки, вы можете обратиться к сотруднику магазина или позвонить по телефону 88005003344. Мы открыты для любых вопросов и предложений по нашему сервису.
            </p>
        </div>
    </div>
</div>