﻿@{
    ViewBag.Title = "Help";
}
@Html.Partial("Header")
<div class="w-section categoryset">
    <div class="w-container">
        <h2>Помощь</h2>

        <h3>Как купить и заказать?</h3>
            <b>Вы можете заказать товары любым удобным для вас способом:</b><br />
            <h4>Через портал. Для этого достаточно выбрать понравившийся вам товар в каталоге, положить его в виртуальную корзину и оформить покупку.</h4>
            <p>
                Заказать на портале<br />
                Заказать товар вы можете на нашем портале www.bazar-kin.ru, воспользовавшись системой web-резервирования.<br />
                Вы можете осуществить покупку в системе web-резервирования www. bazar-kin.ru без регистрации. Для этого достаточно выбрать понравившийся вам товар в каталоге, положить его в виртуальную корзину и оформить покупку.<br />
                Мы рекомендуем вам пройти регистрацию в качестве пользователя Bazarkin, чтобы вы могли воспользоваться всеми преимуществами зарегистрированного покупателя:<br />
                Участие в программе поощрения постоянных покупателей Бонус: получение бонусных баллов, которыми можно расплатиться при покупках через портал Bazarkin.<br />
                Возможность покупать товары с учетом накопительных скидок в зависимости от объемов покупки.<br />
                Участие в промо-акциях и розыгрышах ценных призов, приобретение товаров по специальным сниженным ценам, возможность получения подарков при покупках.<br />
                Доступ в личный кабинет, позволяющий отслеживать статус обработки заказа, этап доставки, оформить подписку на SMS-уведомления, редактировать заказы, отслеживать историю заказов, получать информацию о текущем состоянии товара и т.д.<br />
                Для того чтобы зарегистрироваться, необходимо заполнить небольшую форму и получить учетную запись Bazarkin. После регистрации на указанный вами e-mail придет подтверждение с указанием вашего логина и пароля. После этого для вас будут доступны все online-сервисы.<br />
                Срок резервирования товаров физических лиц в случае, если товар находится в наличии на точке резервирования - до 18:00 следующего дня. Если товар резервируется под заказ, то резерв действует до 18:00 даты, следующей за днем прихода товара на склад получения. При необходимости можно однократно продлить резерв на один день через Личный Кабинет.
            </p>

            <h4>По телефону портала Bazarkin. Наши операторы проконсультируют вас и примут ваш заказ.</h4>
            <p>
                Всю необходимую информацию по работе сервисов Bazarkin вы также можете получить по телефону.
            </p>

        <h4>По электронной почте портала Bazarkin. В письме необходимо указать наименования (коды) выбранных вами товаров и их количество, а также данные о себе - имя, фамилию, телефон, персональный код (если он у вас есть).</h4>
        <p>
            По электронной почте<br />
            Сделать заказ вы можете по электронной почте.<br />
            В письме необходимо указать наименования (коды) выбранных вами товаров и их количество, а также данные о себе - имя, фамилию, телефон, персональный код (если он у вас есть).<br />
            Электронная почта для физических лиц - sales.msk@Bazar-kin.ru<br />
            Электронная почта для юридических лиц - corp.msk@Bazar-kin.ru
        </p>

        <h4>По телефону или электронной почте торговой точки. Вы можете связаться непосредственно с представителем торговой точки на рынке.</h4>
        <p>
            Контактные данные конкретной торговой точки можно найти на ее странице.
        </p>

        <h4>В торговых точках.</h4>
        <p>
            Приходите на торговые точки рынков по нашей навигации. Обратитесь к продавцам, или самостоятельно используйте электронный каталог товаров на специально оборудованных терминалах.
        </p>

        <h3>Как оплатить?</h3>
        <b>Вы можете оплатить покупку следующими способами:</b><br />
        <h4>При получении. Вы можете оплатить покупку наличными или по банковской карте в торговых точках или при получении товара с доставкой.</h4>
        <p>
            Раскрывающееся вложение при нажатии на ссылку «При получении»:<br />
            Торговые точки принимают к оплате только наличные и безналичные рубли (по банковской карте). Цены в каталоге также указаны в рублях.<br />
            Вы можете оплатить покупку:<br />
            При получении заказа непосредственно в торговых точках. Для оплаты заказа будет необходим чек на оплату (инвойс), который Вы можете распечатать у продавца точки. Вы можете распечатать чек на оплату дома, воспользовавшись опцией распечатки накладной в Вашем личном кабинете системы web-резервирования. Также у торговой точки может быть предусмотрена возможность оплатить покупку при помощи пластиковых карт систем VISA / MASTERCARD.<br />
            При получении заказа с доставкой. К оплате принимаются также наличные или пластиковые карты. Если Вы планируете оплачивать заказ картой, пожалуйста, предупредите об этом нашего оператора в момент подтверждения заказа по телефону.<br />
            Правила приема пластиковых карт:<br />
            К оплате принимаются: Visa, Visa Electron, MasterCard, Maestro.<br />
            Расплачиваться пластиковой картой может только владелец карты.<br />
            Карты принимаются к оплате только при наличии одного из документов: гражданский паспорт, водительское удостоверение, паспорт моряка, военный билет - только оригиналы. При отсутствии документа - по пин-коду.<br />
            Доверенности на пластиковые карты не принимаются.<br />
            Возврат денежных средств осуществляется только на карту, с которой производилась оплата.
        </p>

        <h4>Через портал продавцу (торговой точке). Мы помогаем оплатить банковскими картами и электронными деньгами.</h4>
        <p>
            Онлайн-оплата<br />
            Любой заказ, сделанный на нашем портале, можно оплатить онлайн — банковской картой Visa или MasterCard, электронными деньгами Яндекс.Деньги, QiWi, WebMoney, а также через интернет-банк Связного Банка QBank, если торговая точка принимает такие платежи.<br />
            Комиссия и лимиты<br />
            При оплате банковской картой, Яндекс.Деньгами и через QBank комиссия не взимается. Комиссия при оплате Qiwi – 2,5%, WebMoney - 2,48%.<br />
            Максимальная сумма одной операции по QiWi и WebMoney — 15 000 рублей включая комиссию за перевод платежа. Максимальная сумма при оплате банковской картой — 100 000 рублей.<br />
            Как платить<br />
            Заказ можно оплатить онлайн сразу после его создания — соответствующую кнопку вы увидите на странице успеха после оформления. Также вы можете вернуться к оплате и позже. Для этого зайдите в свой личный кабинет, выберите раздел «Текущие заказы», кликните по номеру нужного заказа и нажмите на кнопку «Оплатить заказ».<br />
            Что нужно делать?<br />
            Перед оплатой обязательно укажите настоящие ФИО и телефон получателя (при этом он может и не быть владельцем счета или карты). Получить ваш заказ сможет только этот человек и никто другой. Перед оплатой мы также попросим вас записать пароль для получения заказа, который обязательно нужно будет назвать менеджеру.<br />
            Если вы платите банковской картой, в процессе оплаты введите ее номер, срок действия, код CVV, указанный на обороте, а также имя и фамилию владельца.<br />
            Убедитесь, что вы ввели корректные данные, а затем нажмите на кнопку «Оплатить».<br />
            Если ваша банковская карта поддерживает технологию 3D Secure, вы автоматически перейдете на портал своего банка. Там вас попросят повторно ввести данные карты и номер телефона, на который придет секретный код активации.<br />
            Если реквизиты карты введены верно и на счете достаточно денег, вы увидите подтверждение: «Платеж одобрен!». После этого информация о заказе будет доступна в разделе «Оплаченные заказы» в вашем личном кабинете.<br />
            Обратите внимание: предоплаченный заказ нельзя редактировать, а удалить можно в личном кабинете, по телефону или с помощью оператора кол центра. При этом денежные средства вернутся автоматически.<br />
            Получение товара<br />
            Получить оплаченный заказ можно в течение 6 календарных дней.<br />
            Обратите внимание:<br />
            Чтобы получить заказ, необходимо предъявить менеджеру паспорт РФ на имя получателя, указанного при оплате. Никакие другие документы не принимаются.<br />
            Кроме того, для получения заказа самовывозом необходимо знать его номер.<br />
            Пароль для получения указывается на портале до оплаты и после нее, а так же отправляется по смс получателю заказа в случае успешной оплаты. Пароль также необходимо сообщить продавцу для получения заказа. Пожалуйста, запишите его в момент оплаты .<br />
            На товар   предоставляются документы о покупке: товарный чек и гарантийный талон .<br />
            Если вы не получите свой заказ до окончания срока резервирования, он будет автоматически аннулирован, а средства вернутся на ваш счет или карту (при этом комиссия за перевод денежных средств не возвращается).<br />
        </p>

        <h4>В кредит. Оформляйте кредит в торговых точках.</h4>
        <p>
            Раскрывающееся вложение при нажатии на ссылку «В кредит»:
            Возможность оформить кредит зависит от специфики работы торговой точки. При наличии такой возможности, она указана в карточке торговой точки.
            Обращаем ваше внимание!
            <ul>
                <li>стоимость товара, предоставляемого в кредит, определяется сответственно вашей ценовой колонке.</li>
                <li>товар, покупаемый в кредит, не участвует в бонусной программе.</li>
                <li>кредит на товар оформляется только при условии, что товар есть в наличии, либо уже доставлен под заказ в торговой точке.</li>
            </ul>
        </p>

        <h4>Бонусными баллами. Получайте бонусы за покупки в Bazarkin и тратьте их на следующие покупки.</h4>
        <p>
            Раскрывающееся вложение при нажатии на ссылку «Бонусными баллами»:<br />
            Зарегистрируйтесь и заказывайте товары и услуги через личный кабинет! С каждым новым заказом мы будем начислять вам бонусные баллы, которыми можно расплачиваться при следующих покупках.<br />
            Обратите внимание, что в Bazarkin регулярно проходят маркетинговые акции, в рамках которых покупатель товара может получить увеличенный бонус. Информация о новых акциях появляется на главной странице портала www.bazar-kin.ru и на официальных страницах Bazarkin «ВКонтакте» и «Одноклассники». Для вашего удобства товар, на который распространяются дополнительные бонусы, отмечен в каталоге специальным значком акции.<br />
            Вы можете получать дополнительные бонусы за покупки, которые совершают ваши друзья и даже друзья друзей. Для этого вам необходимо организовать сеть и зарегистрировать на портале www.bazar-kin.ru/bonus своих знакомых, друзей, родственников, коллег. Когда пользователи, зарегистрировавшиеся по вашему приглашению (используя ваш промо-код), делают покупки, вы получаете на свой счёт дополнительные баллы бонуса. При этом клиент, который регистрируется по вашему приглашению, получает возможность совершать покупки в каталоге Bazarkin по второй ценовой колонке. Каждый зарегистрированный клиент Bazarkin получает 25% от бонусов, заработанных приглашенным другом, и 12,5% от бонусов начисленных клиентам, которые были приглашены другом и т.д.<br />
            Бонусные балы аккумулируются на счете Вашего личного кабинета в виде рублей.<br />
            При оформлении покупки в разделе «Подтверждение заказа» поставьте галочку напротив графы «Использовать бонус». В окне рядом введите сумму бонуса, которую вы хотите потратить, и ваш пароль. Окончательная стоимость покупки будет пересчитана с учётом потраченных бонусных баллов. Вы можете оплатить заказ бонусами как частично, так и полностью.
        </p>

        <h4>Подарочные сертификаты Bazarkin. Активируйте сертификат и расплачивайтесь за покупки </h4>
        <p>
            Подарочные сертификаты Bazarkin<br />
            Общие правила<br />
            В каталоге Bazarkin есть подарочные сертификаты номиналами 500, 1 000, 2 000, 3 000, 5 000, и 10 000 рублей. Номинал сертификата равняется его стоимости.<br />
            Сертификат не является именным. Его можно оставить себе, но лучше подарить другу, родственнику, коллеге. Подарочный сертификат Bazarkin – это также отличный вариант для премирования сотрудников вашей компании.<br />
            Приобрести подарочный сертификат можно точно так же, как и любой другой товар из каталога Bazarkin – на портале, заказать доставку и расплатиться наличными, банковской карточкой или электронными деньгами.<br />
            Активация сертификата на портале<br />
            Чтобы воспользоваться подарочным сертификатом, необходимо его активировать. Для этого надо зарегистрироваться на портале www.bazar-kin.ru. Если вы уже зарегистрированы, то авторизируйтесь и зайдите в «Личный кабинет». Выберите раздел «сертификат». Затем сотрите защитный скрейтч-слой на вашем сертификате, под ним находится секретный код активации. Код необходимо ввести в соответствующее поле раздела «сертификат». Также введите в соответствующее поле цифры, которые находятся под штрих-кодом. Нажмите кнопку «Зачислить». Всё, активация завершена.<br />
            После активации на счет поступит сумма бонусов равная номиналу подарочного сертификата. Один бонус равен одному рублю. Их можно использовать для оплаты любого товара из каталога Bazarkin.<br />
            Один пользователь может активировать неограниченное количество подарочных сертификатов.<br />
            Активировать сертификат необходимо в течение 3 лет со дня покупки.<br />
            Подарочный сертификат можно потратить за одну или несколько покупок. Если сумма чека ниже, чем номинал сертификата, то оставшиеся деньги сохранятся на балансе бонуса. Их можно потратить позже на другую покупку из каталога Bazarkin. То есть если вы покупаете товар за 7 тысяч рублей, а у вас сертификат на 10 000 рублей, то 3 тысячи рублей остаются на вашем счету.<br />
            Если покупка превышает номинал подарочного сертификата, то недостающую сумму можно доплатить наличными или банковской картой.<br />
            За одну покупку можно расплатиться одним, двумя, тремя и так далее сертификатами. Например, за товар стоимостью 10 тысяч рублей можно отдать два подарочных сертификата номиналом 5 000 рублей.<br />
            Обратите внимание<br />
            Подарочные сертификаты возврату не подлежат.<br />
            Также нельзя получить денежную сумму наличным или безналичным расчетом в соответствии с номиналом подарочного сертификата. Его можно использовать только на приобретение товаров из каталога Bazarkin.<br />
            Если сертификат был утерян до момента его активации, то денежные средства не возвращаются.<br />
            Остерегайтесь подделок. Настоящий подарочный сертификат Bazarkin должен иметь: фирменный товарный знак, индивидуальный номер, штрих-код и секретный код активации, скрытый под защитным скрейтч-слоем.
        </p>

        <h3>Как получить?</h3>
        <b>Вы можете получить товары следующими способами:</b><br />
        <h4>На торговых точках рынков. Выбирайте удобную точку, чтобы получить товар как можно быстрее, или заказывайте товар в пункт Bazarkin рядом с вашим домом.</h4>
        <p>
            Адрес и контактные данные конкретной торговой точки можно найти на ее странице.
        </p>
        <img src="~/Content/Images/info/receive.png" alt="Bazarkin схема проезда" width="100%">

        <h4>С доставкой. Заказывайте товар с доставкой на дом или в офис.</h4>
        <p>
            Пару часов в дороге, потраченный бензин или билеты на транспорт, помощь друзей или родственников и долгожданная покупка заняла свое место у вас дома.<br />
            Или…<br />
            Кино с друзьями, ужин с родственниками, время на отдых или любимое хобби и долгожданная покупка заняла свое место у вас дома.<br />
            Выбирайте доставку Bazarkin и посвятите свое драгоценное время любимым вещам, а доставщик привезет вам любой товар из каталога Bazarkin. Курьеры привезут заказ в удобное для вас время и примут оплату на месте. Оплатить товар и доставку можно банковской карточкой или наличными.<br />
        </p>
        <img src="~/Content/Images/info/tarifs.png" alt="Bazarkin схема проезда" width="100%">
        <p>
            *Окончательная цена за доставку зависит от выбранного временного интервала и типа доставки<br />
            **Срочная доставка осуществляется только в пределах МКАД.<br />

            Заказ доставки на следующий день принимается до 22:00.<br />

            Доставка в Московскую область<br />
            Стоимость различных видов доставки по Московской области зависит от удаленности от Москвы. Рассчитать стоимость доставки по Московской области вы можете в личном кабинете при оформлении заказа или позвонив нам по телефону: (444) 444-44-44.<br />

            Заказать доставку очень легко:
        </p>
        <img src="~/Content/Images/info/shemazakaza.png" alt="Bazarkin схема проезда" width="100%">
        <p>
            Оплатить покупку вы можете как обычными способами, так и курьеру в момент получения товара.<br />
            Каждый этап доставки с момента заказа услуги до получения товара вы можете отслеживать в вашем личном кабинете или позвонив нам по телефону (444) 444-44-44.<br />

            Условия предоставления данной услуги:<br />
            	Важно! Доставка заказов на сумму свыше 120 тысяч рублей производится только после полной предоплаты;<br />
            	Важно! Срочная доставка на сумму свыше 50 тысяч рублей производится только после полной предоплаты;<br />
            	Для осуществления доставки необходимо предоставить точный адрес места назначения;<br />
            	При доставке просим обязательно проверить в присутствии экспедитора внешний вид товара и комплектность поставки;<br />
            	Наши машины развозят заказы по заранее распланированным маршрутам по графику, предусматривающему высокую точность. Поэтому просим Вас отнестись с пониманием к тому, что разгрузка, проверка и оплата товара должны быть произведены в течение 20 минут;<br />
            	Экспедитор не консультирует по вопросам технических параметров и функциональных особенностей товаров, их совместимости, стоимости и т.п. Эту информацию Вы можете получить у консультантов в торговой точке, либо у операторов call-центра;<br />
            	Оплату товара мы принимаем в рублях. Есть возможность оплатить покупку при помощи пластиковых карт систем Visa, MasterCard, Maestro;<br />
            	Из соображений безопасности оплата принимается только в офисных или жилых помещениях, а также в автомобиле экспедитора;<br />
            	Малогабаритные грузы, перевозимые легковым автомобилем, мы доставляем непосредственно до покупателя;<br />
            	При доставке грузовым автомобилем выгрузка товара осуществляется силами покупателя;<br />
            	Если на территории места назначения доставки действует платный въезд, Вам нужно будет компенсировать стоимость въезда нашего экспедитора, иначе мы сможем доставить товар только до места платного въезда.<br />
            	Подъем крупной бытовой техники на лифте производится при условии, что товар в упаковке беспрепятственно входит в лифт.<br />
            Если у вас возникнут вопросы по оформлению заявки, вы можете обратиться к сотруднику магазина или позвонить по телефону (444) 444-44-44.<br />
            Мы открыты для любых вопросов и предложений по нашему сервису.
        </p>

        <h4>Почтовая доставка.</h4>
        <img src="~/Content/Images/info/shemazakaza2.png" alt="Bazarkin схема проезда" width="100%">

        <h4>На торговых точках рынков. Выбирайте удобную точку, чтобы получить товар как можно быстрее, или заказывайте товар в пункт Bazarkin рядом с вашим домом.</h4>
        <p>
            Адрес и контактные данные конкретной торговой точки можно найти на ее странице.
        </p>

        <h3>Возврат и гарантия</h3>
        <b>Внимание</b><br />
        <p>
            По всем вопросам данной категории Вам необходимо обратиться к Продавцу (торговой точке) либо производителю. Bazarkin является самостоятельным информационным порталом и не несет ответственности за качество товаров и услуг своих Партнеров. Наши специалисты готовы оказать консультативную помощь.
        </p>

        <b>Вырезка:</b><br />
        <p>
            Пользовательское соглашение<br />
            2. Описание услуг<br />
            2.1 Bazarkin, является самостоятельным информационным порталом, который предлагает пользователям широкие возможности для быстрого и простого поиска и заказа товаров и услуг, реализуемых Партнерами Bazarkin. Обязательства по реализации продуктов, согласно условиям оформленного заказа Пользователя, возникают непосредственно у Партнера Bazarkin.<br />
            2.2 Указанные услуги носят информационный характер и оказываются Пользователю безвозмездно.<br />
            2.3 Пользователь соглашается с тем, что все услуги предоставляются «как есть» и что Bazarkin не несет ответственности за качество поставляемых продуктов за задержки, сбои, неверную или несвоевременную доставку, удаление или несохранность какой-либо пользовательской персональной информации, а также за сбои в работе платежных систем.<br />
            6. Ответственность<br />
            6.1 Bazarkin не несет ответственности за соблюдение/несоблюдения Партнерами своих обязательств перед Пользователем, а также за достоверность информации, предоставленной такими Партнерами. Bazarkin является лишь информационным связующим звеном между Пользователем и Партнерами, информация о которых размещена на портале Bazarkin.<br />
            9. Общие положения<br />
            9.4 Ничто в Соглашении не может пониматься как установление между Пользователем и Bazarkin агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных настоящим Соглашением.<br />

            Полный текст Пользовательского соглашения Здесь.
        </p>

        <b>Отказ при приеме</b><br />
        <p>
            Вы имеете полное право отказаться от товара в момент приема. Однако, Вам будет возвращена только стоимость товара. Стоимость доставки Вам необходимо оплатить, поскольку доставка по факту будет осуществлена.
        </p>

        <b>Возврат</b><br />
        <p>
            Вы имеете полное право отказаться от товара в момент приема. Однако, Вам будет возвращена только стоимость товара. Стоимость доставки Вам необходимо оплатить, поскольку доставка по факту будет осуществлена.<br />
            При необходимости вернуть ранее принятый товар, обязательно свяжитесь с торговой точкой, осуществившей продажу данного товара. По согласованию с продавцом, подходите в торговую точку с товаром в полной комплектации, чеком и паспортом. Решение о возврате будет приниматься на месте, по факту осмотра товара, продавцом.<br />
            Законодательная сторона вопроса:<br />
            В соответствии с законом о защите прав потребителей и постановлением Правительства Российской Федерации №55 от 19 января 1998 г. "Перечень непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации" (с изменениями на 20 октября 1998 года) ПРОДАВЕЦ НЕ ОБЯЗАН ПРИНИМАТЬ ОБРАТНО ИСПРАВНОЕ ОБОРУДОВАНИЕ, ЕСЛИ ОНО ПО КАКИМ-ЛИБО ПРИЧИНАМ НЕ ПОДОШЛО ПОКУПАТЕЛЮ.
        </p>

        <b>Наступил гарантийный случай, как поступить?</b><br />
        <p>
            Фирменная гарантия производителя как правило, распространяется на законченные технические изделия. Наличие фирменной гарантии производителя на товар указывается в чеке, выданном вам при покупке. Обычно в комплекте идет гарантийный талон, который заполняется при покупке товара. Иногда обслуживание товара производится не по гарантийным талонам, а по серийным номерам. В таком случае гарантийного талона в комплекте вы не найдете, но в руководстве пользователя будет указан список сервисных центров, осуществляющих гарантийное обслуживание данного товара. Если на ваш товар распространяется фирменная гарантия производителя, наиболее быстрым и простым способом решения проблем будет обращение в фирменный сервисный центр. Вместе с товаром необходимо будет предоставить заполненный гарантийный талон и документы, подтверждающие покупку (чек). В зависимости от степени повреждения ваш товар будет отремонтирован, либо вам будет выдано заключение о невозможности ремонта. С этим заключением вам нужно будет подъехать в торговую точку продавшую данный товар, и вам зачтут деньги за неисправный товар.<br />
            Законодательная сторона вопроса:<br />
            Хотим обратить ваше внимание на то, что согласно закону о защите прав потребителей и другим нормативным актам, которые регулируют гарантийные вопросы, гарантия не распространяется на:<br />
            	повреждения, вызванные неправильным подключением, эксплуатацией оборудования в нештатном режиме либо в условиях, не предусмотренных производителем, а также возникшие вследствие действия сторонних обстоятельств (скачков напряжения электропитания, стихийных бедствий и т.д.);<br />
            	механические и электротермические повреждения;<br />
            	повреждения фирменных серийных номеров на устройстве;<br />
            	отсутствие в товаре функций, которые не предусмотрены Производителем.<br />

            Если у вас еще есть вопросы и вы не нашли на них ответы в данном разделе, вы можете связаться с нами, наши специалисты помогут вам. Хотите пожаловаться на работу торговой точки или оставить пожелание, или предложение по улучшению наших сервисов? Для этого можно воспользоваться нашей системой отзывов и предложений.
        </p>
    </div>
</div>