﻿
@{
    ViewBag.Title = "HowToGet";
}
@Html.Partial("Header")
<div class="w-section categoryset">
    <div class="w-container">
        <div class="textlr">
            <h2>Как получить?</h2>
            <p>Вы можете получить товары следующими способами:</p>
            <img src="~/Content/Images/info/icons/4.png" alt="В торговых точках" class="leftimg"><b>В торговых точках.</b>
            <p>Выбирайте удобную точку, чтобы забрать товар самостоятельно. Для резервирования товара оформите покупку и дождитесь подтверждения наличия товара от нашего Контактного Центра. Адрес и контактные данные конкретной торговой точки можно найти на ее странице.</p>
            <div class="w-clearfix"></div>
            <img src="~/Content/Images/info/icons/10.png" alt="С доставкой" class="leftimg"><b>С доставкой.</b>
            <p>Заказывайте товар с <a href="/Info/Delivery">доставкой</a> на дом или в офис. При оформлении покупки укажите адрес доставки. Мы подберем оптимальный способ доставки.</p>
            <div class="w-clearfix"></div>  
            <img src="~/Content/Images/info/icons/11.png" alt="Почтовая доставка" class="leftimg"><b>Почтовая доставка.</b>
            <p>При оформлении покупки укажите адрес почтовой доставки и выбирите способ доставки: обычная и срочная доставка "Почта России"; курьерская доставка EMS.</p>
            </div>
    </div>
</div>