﻿
@{
    ViewBag.Title = "HowToOrder";
}
@Html.Partial("Header")
<div class="w-section categoryset">
    <div class="w-container">
        <div class="textlr marginltext">
            <h2>Как купить и заказать?</h2>
            <p>Вы можете заказать товары любым удобным для вас способом:</p>
            <img src="~/Content/Images/info/icons/1.png" alt="Через портал" class="leftimg"><b>Через портал.</b>
            <p>Для этого достаточно выбрать понравившийся вам товар в <a href="/catalog">каталоге</a>, положить его в виртуальную корзину и оформить покупку. Мы рекомендуем вам пройти <a href="#">регистрацию</a> в качестве пользователя Bazarkin, чтобы вы могли воспользоваться всеми преимуществами зарегистрированного покупателя:</p>
            <ul>
                <li>Получение бонусных баллов за покупки через портал Bazarkin.</li>
                <li>Возможность оплачивать покупки накоплеными балами.</li>
                <li>Отслеживать статус обработки заказа, этап доставки, оформить подписку на SMS-уведомления, редактировать заказы, отслеживать историю заказов, получать информацию о текущем состоянии товара и т.д.</li>
            </ul>
            <p><a href="/Info/Agreement">См. Пользовательское соглашение п.3, п.4.</a></p>
            <img src="~/Content/Images/info/icons/2.png" alt="По телефону" class="leftimg"><b>По телефону.</b>
            <p>Наши операторы проконсультируют вас и примут ваш заказ. Сообщите оператору артикул товара и идентификационный номер торговой точки. Всю необходимую информацию по работе сервисов Bazarkin вы также можете получить по телефону 88008008080.</p>
            <div class="w-clearfix"></div>
            <img src="~/Content/Images/info/icons/4.png" alt="В торговых точках" class="leftimg"><b>В торговых точках.</b>
            <p>Приходите в торговые точки рынков по нашей навигации. Обратитесь к продавцам за консультацией. Вы так же можете связаться непосредственно с представителем торговой точки на рынке. Контактные данные конкретной торговой точки можно найти на ее странице.</p>
        </div>
    </div>
</div>