﻿
@{
    ViewBag.Title = "Markets";
}
@Html.Partial("Header")
<div class="w-section categoryset">
    <div class="w-container">
        <div class="textlr">
            <h2>Рынки</h2>
            <img src="~/Content/Images/info/maps/map1.png" alt="Bazarkin схема проезда" width="100%">
        </div>
    </div>
</div>