﻿
@{
    ViewBag.Title = "Partners";
}
@Html.Partial("Header")
<div class="w-section categoryset">
    <div class="w-container">
        <div class="textlr">
            <h2>Партнерам</h2>
            <h3>Bazarkin это:</h3>
            <div class="textlimg">
                <p>Первый онлайн рынок в России.<br>Посещяемость более 150 000 челевек, ежедневно увеличивается на 2000 человек.</p>
            </div>
            <div class="imgrtext">
                <img src="~/Content/Images/info/partners.jpg" alt="Bazarkin схема проезда" width="100%">
            </div>
            <h3>Партнерство с Bazarkin позволит вам выставить свои товары на продажу в сети интернет&nbsp;и укрепить свои позиции на рынке за счет:</h3>
            <ul>
                <li>Портала с большим рекламным бюджетом. Наши каналы привлечения клиентов - Yandex, Google, партнерские программы, блоги, обзоры и социальные сети, а также средства продвижения для мобильных платформ.</li>
                <li>Специалистов&nbsp;портала, которые будут следить и обновлять ассортимент предлагаемых Вами товаров и услуг. Вам не пройдётся тратить время на размещение и замену своей продукции.</li>
                <li>Представления Вашего бренда, ассортимента, специальных&nbsp;акций&nbsp;и предложений&nbsp;в&nbsp;сети интернет. Операторы нашего Контактного Центра круглосуточно будут принимать заказы от покупателей.</li>
            </ul>
            <h3>Bazarkin постоянно развивается:</h3>
            <div class="textlimg">
                <p>
                    Мы - маркетинговая и технологическая компания.&nbsp;У нас работают лучшие специалисты по интернет-маркетингу и IT-решениям.<br>
                    Мы консультируемся с лучшими компаниями отрасли и&nbsp;ежедневно работаем над улучшением своих площадок, оптимизируя&nbsp;действующие каналы и занимаемся поиском новых.
                </p>
            </div>
            <div class="imgrtext">
                <img src="~/Content/Images/info/negotiations.png" alt="Bazarkin постоянно развивается" width="100%">
            </div>
            <h3>Почему привлечение покупателей через Bazarkin самое выгодное?</h3>
            <div class="textlimg">
                <ul>
                    <li>Сколько вы тратите на содержание портала и рекламу в интернете?</li>
                    <li>Сколько вы тратите на листовки и другие способы привлечения клиентов?</li>
                    <li>Во сколько вам обходится каждый новый клиент?</li>
                </ul>
                <p>
                    Привлечение нового клиента в интернете может стоить от 30 до 100% суммы заказа, в зависимости от ассортимента, цен и условий доставки.&nbsp;
                </p>
            </div>
            <div class="imgrtext">
                <img src="~/Content/Images/info/ruki.png" alt="Привлечение нового клиента" width="100%">
            </div>
            <p>
                <b>
                    В Bazarkin Вы не платите за показы, клики, тиражи&hellip; Вы платите только за результат, за живых клиентов и реальные заказы.
                </b>
            </p>
        </div>
    </div>
</div>