* {
    
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-align: left;
}
h2 {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 0px;
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
}
h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: left;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-align: left;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-align: left;
}
p {
  margin-bottom: 5px;
}
a {
  display: inline-block;
  background-color: transparent;
  color: #333;
  font-size: 14px;
  text-decoration: none;
}
a:hover {
  color: #333;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
}
.header {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 9999;
  height: 42px;
  margin-top: 0px;
  background-color: #c7332f;
}
.obratnayasvaz {
  display: block;
  height: 26px;
  margin: 5px 5px 0px;
  padding-top: 3px;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 3px;
  background-color: #60a917;
  color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.49) 1px 1px 2px;
}
.poiskiconca {
  display: inline-block;
  width: 25%;
  height: 32px;
  padding-top: 5px;
  float: left;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
    background-color: orange;
    color: white;
    border-right: 1px solid #eee;
  font-size: 14px;
  text-align: center;
}
.poiskiconca:hover {
  background-color: darkorange;
  color: white;
}
.poiskpole {
  display: block;
  width: 63%;
  height: 32px;
  margin-right: auto;
  margin-left: auto;
  float: left;
  background-color: white;
}
.poiskknopka {
  display: inline-block;
    width: 12%;
    height: 32px;
    padding-top: 6px;
    padding-right: 0px;
    float: right;
    border-radius: 0px 3px 3px 0px;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    text-align: center;
    border-left: #eee solid 1px;
}
.poiskknopka:hover {
  background-color: #eee;
}
.verhknopka {
  height: 36px;
}
.verhknopka:hover {
  background-color: #555;
  color: #333;
}
.verhicon {
  margin-top: 0px;
  margin-right: 5px;
  margin-left: 5px;
}
.texttop {
  display: inline-block;
  margin-top: 8px;
  color: white;
  font-size: 12px;
}
.search {
  margin: 5px;
}
.logomini {
  display: block;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
}
.tipbox {
  display: inline-block;
  width: 40px;
  height: 26px;
  margin-top: 5px;
  padding-top: 3px;
  float: right;
  border-radius: 3px;
  background-color: #60a917;
  color: white;
  font-size: 12px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.49) 1px 1px 3px;
}
.topbtnicon {
  display: inline-block;
  color: white;
  width: 15%;
  margin-top: 7px;
  float: left;
  text-align: center;
}
.topbtn {
  display: inline-block;
  width: 33.3%;
  height: 36px;
  padding-right: 0px;
  padding-left: 6px;
  float: left;
}
.topbtn:hover {
  background-color: rgba(0,0,0,0.1);
}
.topbtntext {
  display: inline-block;
  width: 63%;
  margin-top: 8px;
  float: left;
  color: white;
  font-size: 12px;
  text-align: center;
}
.topbtntext.topdarcktext {
  color: #999;
}
.topbtnbox {
  display: inline-block;
  width: 20%;
  padding-top: 5px;
  float: left;
}
.topbtnboxgreen {
  display: inline-block;
  width: 100%;
  height: 26px;
  margin-top: 0px;
  padding-top: 1px;
  float: right;
  border-radius: 3px;
  border: white solid 2px;
  color: white;
  font-size: 14px;
  text-align: center;
}
.topbtnboxgreen.topdarckgreen {
  border: #60a917 solid 0px;
  color: #fff;
}
.topbtngreen {
  display: inline-block;
  width: 40%;
  height: 32px;
  margin-top: 0px;
  padding-top: 6px;
  float: left;
  border-radius: 3px;
    background-color: orange;
    color: white;
  font-size: 14px;
  text-align: center;
}
.topbtngreenDarck{
  background-color: #555;
}

.topbtngreen:hover {
  background-color: darkorange;
}
.topbtngreenDarck:hover{
  background-color: #555;
}
.h_logo {
  display: inline-block;
  width: 4%;
  margin-top: 8px;
  float: left;
}
.h_search {
  display: inline-block;
  width: 34%;
  margin-top: 5px;
  float: left;
}
.h_btn {
  display: inline-block;
  width: 44%;
  margin-top: 3px;
  float: left;
}
.h_bay {
  display: inline-block;
  width: 22%;
  margin-top: 5px;
  float: left;
}
.toptext {
  display: inline-block;
  width: 60%;
  margin-top: 5px;
  padding-right: 6px;
  float: left;
  color: white;
  font-size: 16px;
  text-align: right;
}

.toptextDarck {
  color: #999;
}

.top {
  position: relative;
  z-index: 1;
  height: 82px;
  margin-top: 42px;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.4)
}
.top.topNone {
  background-color: rgba(0, 0, 0, 0);
}
.logotext {
  display: inline-block;
  margin-top: 0px;
  margin-left: 0px;
  float: left;
  color:#c7332f;
  font-family: arial black;
  font-size: 40px;
    line-height: 35px;
  font-weight: 500;
}
.logotext.logotextBlack {
    color: #333;
}
.logoimage {
  float: left;
}
.logo {
  display: inline-block;
  float: left;
}
.t_faq {
  display: inline-block;
  margin-top: 10px;
  float: right;
}
.t_faq_link {
  margin: 10px 0px 10px 15px;
  background-color: transparent;
  color: #666;
  font-size: 16px;
  text-decoration: none;
}
.t_faq_link.t_faq_linkBlack {
  color: #333;
}
.t_faq_link:hover {
  text-decoration: underline;
  color: #666;
}
.t_faq_link.t_faq_linkBlack:hover {
  color: #333;
}
.t_faq_link.padnone {
  background-color: transparent;
}
.t_logo {
  float: left;
}
.logotextset {
  margin-left: 10px;
  float: left;
  text-align: center;
}
.logotitle {
    font-family: arial black;
    font-size: 20px;
    line-height: 30px;
    color:#c7332f;
}
.logotitle.logotitleBlack {
  color: #333;
}
.callme {
      margin-left: 13px;
    padding: 6px 10px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    border: #fff solid 1px;
}
.callme.callmeGreen {
    background-color: #60a917;
    color: #fff;
    border: 0;
}
.callme:hover {
  background-color: #fff;
  color: #333;
}
.callme.callmeGreen:hover {
  background-color: #7AD61D;
  color: #fff;
}
.phone {
  display: inline-block;
  margin-top: 16px;
  margin-right: 15px;
  margin-left: 15px;
  float: right;
  font-size: 24px;
  text-align: left;
  color: #666;
}
.phone.phoneBlack{
    color:#333;
}
.avatar {
  display: inline-block;
  float: right;
  border-radius: 50%;
  padding-top: 5px;
}
.bacground {
  position: absolute;
  top: -10px;
  width: 100%;
  height: 530px;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto;
  text-align: center;
}
.topslider {
  height: 375px;
  background-color: transparent;
}
.navcategorybtngreen {
  display: inline-block;
  width: 100%;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  background-color: #60a917;
  color: white;
  font-size: 12px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.49) 1px 1px 3px;
}
.navcategorybtngray {
  display: inline-block;
  width: 100%;
  margin: 0px;
  padding: 5px 0px;
  border-radius: 3px;
  background-color: #999;
  color: white;
  font-size: 12px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.49) 1px 1px 3px;
}
.navcategorybtn {
  display: inline-block;
  width: 12.5%;
  padding: 6px 3px 3px;
}
.navcategorybtnpassiv {
  display: inline-block;
  width: 12.5%;
  margin: 0px;
  padding: 3px;
}
.textlr {
  text-align: justify;
}
.categoryimg {
  width: 100%;
}
.categorycard {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
  height: 180px;
}
.categorycardBig {
  height: 261px;
}
.categoryset {
  margin-top: 14px;
}
.footer {
  margin-top: 19px;
  padding-top: 18px;
  background-color: #999;
  font-family:'Droid Sans', sans-serif;
  font-size: 12px;
}
.footerblock1 {
  display: inline-block;
  width: 16.66%;
  margin-top: 10px;
  padding-left: 0px;
  float: left;
}
.footerblock2 {
  display: inline-block;
  width: 16.66%;
  margin-top: 10px;
  float: left;
}
.footerblock3 {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
}
.footerinfo {
      display: inline-block;
    text-align: justify;
    width: 33.33%;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    float: left;
    color: white;
}
.footersocial {
  display: inline-block;
  width: 16.69%;
  padding-right: 10px;
  padding-left: 10px;
  float: right;
  text-align: right;
}
.foorerpravo {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  float: left;
}
.footerlink {
  display: block;
  background-color: transparent;
  color: white;
  font-size: 14px;
}
.footerlink:hover {
  color: white;
  text-decoration: underline;
}
.footersocialicon {
    padding: 3px;
  width: 40px;
}
.footercopyright {
  margin-left: 0px;
  color: #ddd;
  font-size: 12px;
  line-height: 17px;
}
.footerpravo {
  color: #ddd;
  font-size: 11px;
  line-height: 12px;
  text-align: justify;
}
.categorytree {
  display: inline-block;
  height: 24px;
  padding-top: 2px;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 2px;
  border-radius: 3px;
  background-color: #999;
  color: white;
}
.categorytree:hover {
  background-color: #c7332f;
}
.categorytreehome {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0px;
  float: left;
  color: white;
  text-align: center;
}
.categorytreehome:hover {
  background-color: #c7332f;
}
.categorytree a {
  color: white;
}
.path {
  height: 36px;
  padding-top: 5px;
}
.categorytreeactiv {
  background-color: #999;
}
.categorytreeactiv:hover {
  background-color: #999;
}

.goodcard {
  margin: 15px;
}
.goodcardicon {
  display: inline-block;
  width: 40%;
  padding-top: 0px;
  float: left;
  text-align: left;
}
.goodcardbtn {
  display: inline-block;
  width: 60%;
  float: left;
}
.goodcardbtntext {
  display: block;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
  background-color: orange;
  color: white;
  text-align: center;
  text-decoration: none;
}
.goodcardbtntext:hover {
  background-color: darkorange;
  color: white;
}
.goodcardbtnicon {
  margin-right: 5px;
  padding: 0px;
}
.goodcardimg {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.goodcardmanufacturer {
  color: #999;
  font-weight: 600;
}
.goodcardmodel {
  font-weight: 600;
  height:40px;
}
.goodcardprice {
  margin-bottom: 4px;
  color: #c7332f;
  font-size: 19px;
  font-weight: 600;
  text-align: left;
}
.filtertitle {
  /*margin-top: 14px;*/
  padding-top: 2px;
  padding-bottom: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: orange;
  color: white;
  text-align: center;
}
.filtername {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  background-color: #eee;
  color: #333;
  text-shadow: none;
}
.filterchrckbox {
  margin-left: 0px;
  /*padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;*/
}
.filterbox {
  display: inline-block;
  width: 45%;
  height: 30px;
  float: left;
}
.filtersplit {
  display: inline-block;
  width: 10%;
  text-align: center;
}
.goodarlicul {
  color: #999;
  font-size: 12px;
  line-height: 19px;
}
.gooddescription {
  margin-top: 10px;
  font-size: 14px;
  text-align: justify;
}
.icon20 {
  margin-right: 5px;
  float: none;
}
.linktext {
  margin-right: 25px;
}
.btn {
  width: 110px;
  padding: 2px 5px;
  float: right;
  border-radius: 3px;
  background-color: #60a917;
  color: white;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.49) 1px 1px 3px;
}
.btn:hover {
  background-color: #7ad61d;
  color: white;
  text-decoration: none;
}
.goodprice {
    width: 25%;
    display: inline-block;
    text-align: right;
    color: #c7332f;
    font-size: 19px;
    font-weight: 600;
}
.goodradiobtn{
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
    width: 3%;
    text-align: right;
}
.organizationmapslider{
    margin-top: 10px;
    margin-bottom: 10px;
}
.goodtext {
  display: inline-block;
  margin-right: 0px;
  margin-left: 0px;
  width: 70%;
  text-align: right;
}
.goodmodefy {
  margin-top: 10px;
  margin-bottom: 10px;
}
.tabs {
  display: block;
  width: 100%;
  margin-top: 10px;
  float: none;
}
.goodmap {
  width: 100%;
  height: 250px;
  margin-bottom: 5px;
}
.goodtochka {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.goodtochka.gray {
  border-radius: 3px;
  background-color: #eee;
  line-height: 20px;
}
.goodnumbertochka {
  display: inline-block;
  width: 8.5%;
  margin-right: 0px;
  padding-left: 3px;
  float: left;
  color: #999;
}
.goodtochkaname {
  display: inline-block;
  width: 70%;
  padding-right: 2px;
  padding-left: 2px;
  float: left;
}
.goodtochkadescription {
  /*display: inline-block;
  width: 47.5%;*/
  padding-right: 2px;
  padding-left: 2px;
  float: left;
}
.goodtochkaprice {
    display: inline-block;
    width: 12%;
    margin-right: 0px;
    margin-top: 5px;
    padding-right: 10px;
    float: left;
    color: #c7332f;
    font-weight: 600;
    text-align: right;
    font-size: 19px;
}
.goodtochkabay {
    height: 32px;
    width: 9.5%;
    float: right;
    border-radius: 3px;
    border: 0px;
    background-color: orange;
    color: white;
    font-size: 14px;
}
.goodtochkabay:hover {
  background-color: darkorange;
}
.goodharakteristikabox {
  display: block;
  width: 33.33%;
  padding: 5px;
  float: left;
}
.goodharakteristikagroupname {
  display: block;
  padding: 5px;
  float: left;
}
.goodharakteristikaname {
  color: #333;
  font-weight: 600;
}
.goodharakteristikagroup.gray {
  border-radius: 3px;
  background-color: #eee;
}
.tochkamap {
  display: block;
  height: auto/*300px*/;
}
.tochkadescription {
  text-align: justify;
}
.tochkaphone {
  display: inline-block;
  width: 115px;
  float: left;
  font-weight: 400;
}
.tochkaphonedescription {
  display: inline-block;
  float: left;
  color: #999;
}
.tochkaphonebox {
  margin-top: 0px;
  margin-bottom: 0px;
}
.tochkiset {
  margin-top: 10px;
  margin-bottom: 10px;
}
.goodbtn {
  display: inline-block;
  width: 23%;
  padding: 2px;
  text-align: left;
}
.goodbtn:hover {
  border-radius: 3px;
  background-color: #eee;
}
.goodbtntext {
  display: inline-block;
  float: none;
}
.slid {
  text-align: center;
}
.slidtext {
  width: 620px;
    margin-top: 20px;
    color: white;
    font-size: 23px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    line-height: 30px;
}
.slidertext {
  color: white;
  font-size: 14px;
  line-height: 14px;
  margin: 10px;

}
.slidtext.slidtextr {
  float: right;
}
.slidtext.slidtextl {
  margin-left: 80px;
  float: left;
}
.slidtitle {
    width: 450px;
    color: white;
    font-size: 35px;
    line-height: 40px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.slidertitle {
  color: white;
  font-size: 24px;
}
.slidtitle.slidtitle1 {
    margin-top: 30px;
    float: right;
}
.slidtitle.slidtitle2 {
  margin-top: 92px;
  margin-left: 80px;
}
.slidtitle.slidtitle3 {
  margin-top: 92px;
  margin-right: 80px;
  float: right;
}
.slidtitle.slidtitle4 {
  margin-top: 91px;
  margin-left: 80px;
  float: left;
}
.slidimgl {
  float: left;
    width: 437px;
    margin-left: 19px;
    margin-top: 14px;
}
.sliderimg {
  margin-top: 10px;
  width: 180px;
}
.slidimgr {
  margin-top: 33px;
  margin-right: 80px;
  float: right;
}
.leftimg {
  float: left;
  width: 80px;
  margin: 0px 10px 10px 10px;
}
 .marginltext p{
  margin-left: 100px;
}
  .marginltext ul, .marginltext ol{
  margin-left: 120px;
}
  .split50 input{
    width:99%;
    padding-left: 5px;
    border: 1px solid #999;
    border-radius: 3px;
  }
  .split50{
    display: inline-block;
    width: 48%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .textgray{
    color: #999;
  }
  .topbtnicon .fa, .poiskknopka .fa{
    font-size: 16px;
  }
  .colorgreen{
    color: orange;
  }
  .icon22{
    font-size: 22px;
  }
  .icon24{
    font-size: 24px;
  }
  .fa-fw{
    width: 1em;
  }
  .btnfilter{
    width: 100%;
    border: 0;
    background: orange;
    height: 32px;
    color: white;
    font-size: 16px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .margin6l{
    margin-left: 6px;
  }
  .btngoodview {
    border: 0;
    background-color: orange;
    height: 32px;
    width: 28%;
    font-size: 14px;
    color: white;
    padding-bottom: 2px;
    border-radius: 3px;
  }
  .goodbtnlist{
    text-align: center;
  }
  .citation{
      font-style: italic;
  }
  .imgright{
    float: left;
    width: 40%;
    margin-right: 40px;
  }
  .textlimg{
    display: inline-block;
    width: 69%;
  }
  .leftimgReferals{
    float: left;
    width: 140px;
    margin: 0 10px 10px 10px;
  }
  .imgrtext{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 10px 0 0 10px;
  }
  .marginltext a{
      color: #60a917;
  }
  .marginltext a:hover{
      color: #60a917;
  }
  .catalogitem1{
    border-bottom: #999 solid 1px;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  .catalogitem1 a{
    width: 100%;
  }
  .catalogimg1{
    float: left;
    width: 60px;
    height: 60px;
    margin-left: 10px
  }
  .catalogimg2{
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 10px
  }
  .catalogtext1{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
  }
  .catalogtext2{
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
  }
  .marginl30{
      margin-left: 30px;
  }
  .margintop47{
    /*margin-top: 47px;*/
  }
  .margintop42{
    margin-top: 42px;
  }
  .organizationheadwrwhite{
      background: rgba(255, 255, 255, 0.8);
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .paddingtop0{
      padding: 0;
      padding-bottom: 100px;
      height: auto;
      margin-bottom: 10px;
  }
  .organizationname{
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 0px;
    float: left;
    color: #333;
    font-size: 38px;
    line-height: 33px;
    font-weight: 500;
  }
  .organizationphone{
    margin-top: 18px;
    margin-right: 0px;
  }
  .margintop20{
      margin-top: 10px;
  }
  .organizationmap{
      height:100%;
  }
  .category-name{
      font-size: 16px;
  }

  .t_btn{
      display: block;
  }

  .center{
      text-align:center;
  }

  .cartPriceGood{
      display:inline-block;
      font-size:20px;
      width:33%;
  }

  .cartBtnCount{
      font-size:18px;
      color:white;
      background:orange;
      padding:5px 10px;
      width:30px;
  }

  .cartBtnCount:hover{
      color:white;
  }

  .radiusLeft{
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .radiusRight{
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .cartCount{
      font-size:16px;
      display:inline-block;
      padding: 5px 5px 3px 5px;
      width:45px;
      border-top:1px solid #eee;
      border-bottom:1px solid #eee;
  }

  .cartItem{
      border-left:1px solid #eee;
      border-top:1px solid #eee;
      border-bottom:1px solid #eee;
      -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  .cartDel{
      text-align:center;
      height: 165px;
  }

  .cartDelBtn{
      font-size: 30px;
    width: 60px;
    padding: 60px 0px;
  }

  .countAndPrice{
      margin-top:60px;
  }

  .padding0{
      padding:0px;
  }

  .lightGray{
      background:#eee;
  }

  .orgAllName{
      font-size:16px;
      font-weight: bold;
      margin-top: 10px;
  }

  .categoryName{
      color:#999;
      font-size: 12px;
      line-height: 10px;
      margin-left:10px;
      margin-right:10px;
  }

  .videoWrapper {
     width:100%;
     height:540px;
}
.videoWrapper iframe {
        width: 100%;
        height: 100%;
}

@media (max-width: 991px) {
  .poiskiconca {
    width: 24%;
  }
  .poiskpole {
    width: 64%;
  }
  .poiskknopka {
    width: 12%;
  }
  .topbtnicon {
    width: 20%;
  }
  .topbtn {
    width: 33.33%;
  }
  .topbtntext {
    width: 50%;
    font-size: 8px;
  }
  .topbtntext.topdarcktext {
    display: inline-block;
    width: 50%;
    font-size: 8px;
  }
  .topbtnbox {
    width: 30%;
  }
  .h_logo {
    width: 5%;
  }
  .h_btn {
    width: 40%;
  }
  .h_bay {
    width: 25%;
  }
  .t_faq {
    margin-top: 10px;
  }
  .t_faq_link {
    display: inline-block;
  }
  .t_faq_link.padnone {
    display: none;
  }
  .navcategorybtngreen {
    font-size: 11px;
  }
  .navcategorybtngray {
    font-family:'Droid Sans', sans-serif;
    font-size: 9px;
  }
  .footer {
    padding-top: 13px;
  }
  .footerblock1 {
    margin-top: 16px;
  }
  .footerblock2 {
    margin-top: 16px;
  }
  .footerinfo {
    width: 42.52%;
    font-size: 13px;
    line-height: 20px;
  }
  .footersocial {
    width: 7.5%;
    margin-top: 12px;
  }
  .footerlink {
    padding-left: 0px;
    font-size: 16px;
    line-height: 25px;
  }
  .footersocialicon {
    width: 24px;
  }
  .footercopyright {
    margin-top: 8px;
  }
  .gooddescription {
    font-size: 14px;
  }
  .btn {
    width: 90px;
  }
  .goodnumbertochka {
    width: 9.5%;
    font-size: 12px;
  }
  .goodtochkaname {
      width:69%;
    font-size: 12px;
  }
  .goodtochkadescription {
    width: 46.5%;
    font-size: 12px;
  }
  .goodtochkaprice {
    font-size: 19px;
  }
  .goodharakteristikaname {
    font-size: 12px;
  }
  .goodharakteristikavalue {
    font-size: 12px;
  }
  .goodbtn {
    margin-right: 11px;
  }
  .goodbtntext {
    font-size: 12px;
  }
  .slidtext.slidtextr {
    width: 320px;
  }
  .slidtext.slidtextl {
    width: 320px;
  }
  .slidtitle.slidtitle1 {
    width: 320px;
    margin-top: 60px;
  }
  .slidtitle.slidtitle2 {
    width: 320px;
    margin-top: 60px;
  }
  .slidtitle.slidtitle3 {
    width: 320px;
    margin-top: 60px;
  }
  .slidtitle.slidtitle4 {
    width: 320px;
    margin-top: 60px;
  }
   .organizationheadwrwhite{
      background: rgba(255, 255, 255, 0.8);
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
  }
  .organizationname{
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 0px;
    float: none;
  }
  .organizationphone{
    margin-top: 0px;
    margin-bottom: 12px;
    margin-right: 0px;
    float:none
  }
  .videoWrapper {
     width:100%;
     height:420.75px;
}
}
@media (max-width: 767px) {
  .poiskiconca {
    width: 30%;
    font-size: 11px;
  }
  .poiskpole {
    width: 56%;
  }
  .poiskknopka {
    width: 14%;
  }
  .topbtnicon {
    width: 40%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .topbtn {
    width: 32%;
    margin-right: 2px;
    padding-left: 0px;
  }
  .topbtntext {
    display: none;
  }
  .topbtntext.topdarcktext {
    display: none;
  }
  .topbtnbox {
    width: 60%;
    float: right;
  }
  .topbtnboxgreen {
    width: 92%;
    font-size: 14px;
    border-radius: 0;
    border: #fff solid 0;
    border-bottom: #fff solid 2px;
  }
  .topbtngreen {
    width: 47%;
    font-size: 14px;
  }
  .h_logo {
    width: 7%;
    padding-left: 10px;
  }
  .h_search {
    margin-left: 5px;
    width: 35%;
  }
  .h_btn {
    width: 30%;
  }
  .h_bay {
    width: 33%;
  }
  .toptext {
    width: 49%;
    font-size: 14px;
  }
  .t_faq {
    margin-top: 10px;
  }
  .t_faq_link {
    display: none;
  }
  .t_logo {
    margin-left: 5px;
  }
  .callme {
    margin-left: 0px;
    font-size: 12px;
  }
  .phone {
    margin-right: 20px;
    margin-left: 10px;
    font-size: 20px;
  }
  .avatar {
    margin-right: 5px;
  }
  .navcategorybtngreen {
    font-size: 12px;
  }
  .navcategorybtngray {
    font-size: 12px;
  }
  .navcategorybtn {
    width: 25%;
  }
  .navcategorybtnpassiv {
    width: 25%;
  }
  .footerblock1 {
    width: 33.33%;
    padding-left: 10px;
  }
  .footerblock2 {
    width: 33.33%;
  }
  .footerinfo {
    width: 80%;
  }
  .footersocial {
    width: 20%;
  }
  .footersocialicon {
    width: 38px;
  }
  .goodcardicon {
    width: 35%;
    padding-top: 2px;
  }
  .goodcardbtn {
    width: 65%;
  }
  .btn {
    width: 28%;
  }
  .goodmap {
    height: 200px;
  }
  .goodnumbertochka {
    width: 15%;
    padding-left: 10px;
    font-size: 14px;
  }
  .goodtochkaname {
    width: 85%;
    font-size: 14px;
  }
  .goodtochkadescription {
    padding-left: 10px;
    font-size: 14px;
  }
  .goodtochkaprice {
    width: 82%;
    font-size: 19px;
  }
  .goodtochkaprice.visible {
    display: none;
  }
  .goodtochkabay {
    width: 18%;
    margin-right: 5px;
  }
  .goodtochkabay.visible {
    display: none;
  }
  .goodharakteristikabox {
    padding-top: 0px;
  }
  .goodharakteristikaname {
    line-height: 18px;
  }
  .goodharakteristikavalue {
    line-height: 18px;
  }
  .tochkamap {
    /*height: 200px;*/
  }
  .strelki {
    width: 40px;
  }
  .slidtext.slidtextr {
    width: 300px;
    margin-right: 40px;
  }
  .slidtext.slidtextl {
    width: 300px;
    margin-left: 40px;
  }
  .slidtitle.slidtitle1 {
    width: 300px;
    margin-right: 40px;
    font-size: 38px;
  }
  .slidtitle.slidtitle2 {
    width: 300px;
    margin-left: 40px;
    font-size: 38px;
  }
  .slidtitle.slidtitle3 {
    width: 300px;
    margin-right: 40px;
    font-size: 38px;
  }
  .slidtitle.slidtitle4 {
    width: 300px;
    margin-left: 40px;
    font-size: 38px;
  }
  .slidimgl {
    width: 180px;
    margin-top: 50px;
    margin-left: 40px;
  }
  .slidimgr {
    width: 180px;
    margin-top: 50px;
    margin-right: 40px;
  }
  .goodtochkapriceandbay {
    width: 35%;
    padding-right: 10px;
    float: left;
  }
  .goodslider {
    height: auto;
  }
  .textlr {
    padding-left: 10px;
    padding-right: 10px;
  }
  .leftimg {
    float: left;
    width: 50px;
    margin: 10px;
  }
  .marginltext p{
    margin-left: 70px;
  }
  .marginltext ul, .marginltext ol{
    margin-left: 90px;
  }
  .split50 input{
    height: 30px;
  }
  .topbtnicon .fa, .poiskknopka .fa{
    font-size: 20px;
  }
  .poiskknopka{
    padding-top: 5px;
  }
  .icon24{
    font-size: 19px;
  }
  .filtertitle{
    font-size: 16px;
    height: 32px;
    padding: 6px;
  }
  .filtername {
    font-size: 16px;
  }
  .filterchrckbox {
    font-size: 16px;
  }
  .goodbtn {
    display: inline-block;
    margin-right: 0px;
    padding: 2px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 49%;
  }
  .goodbtntext {
    font-size: 16px;
  }
  .btngoodview {
    width: 49%;
  }
  .imgright{
    float: none;
    width: 100%;
  }
  .textlimg{
    width: 100%;
  }
  .imgrtext{
    width: 100%;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .lr5{
      margin-left:5px;
      margin-right:5px;
  }
}
@media (max-width: 479px) {
  .header {
    height: 84px;
  }
  .poiskiconca {
    font-size: 16px;
    width: 25%;
  }
  .poiskpole {
    width: 65%;
  }
  .poiskknopka {
    width: 10%;
  }
  .h_logo {
    width: 12%;
  }
  .h_search {
    width: 97%;
  }
  .h_btn {
    width: 50%;
    padding-top: 5px;
    padding-left: 10px;
  }
  .h_bay {
    width: 50%;
    float: right;
    padding-top: 5px;
  }
  .top {
    height: 96px;
    margin-top: 82px;
    margin-bottom:0px;
    padding-bottom:0px;
  }
  .t_faq {
    margin-right: 12px;
    float: right;
  }
  .t_logo {
    margin-left: 10px;
  }
  .phone {
    margin-top:0px;
    margin-bottom: 10px;
    display: inline-block;
    float: right;
  }
  .avatar {
    margin-right: 10px;
  }
  .bacground {
    height: 450px;
    top: 84px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
    background-image: none;
  }
  .topslider {
    height: 270px;
  }
  .footerblock1 {
    width: 50%;
  }
  .footerblock2 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .footerblock3 {
    width: 49%;
    padding-left: 10px;
  }
  .footerinfo {
      font-size:14px;
    width: 100%;
  }
  .footersocial {
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }
  .footersocialicon {
    width: 40px;
    margin-right: 7px;
    margin-left: 7px;
  }
  .categorytree {
    margin-left: 0px;
    line-height: 20px;
  }
  .categorytreehome {
    height: 24px;
    margin-left: 0px;
  }
  .path {
    display: inline-block;
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
    float: none;
  }
  .categorytreeactiv {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
  }
  .goodcardimg {
    width: 100%;
    margin-right: 10px;
    float: left;
  }
  .goodcardmodel {
    display: inline-block;
  }
  .goodcardprice {
    /*display: inline-block;*/
  }
  .goodcard {
    margin-left: 0;
    margin-right: 0;
  }
  .goodnumbertochka {
    width: 20%;
  }
  .goodtochkaname {
    width: 80%;
    padding-right: 10px;
    padding-left: 0px;
  }
  .goodtochkadescription {
    width: 100%;
  }
  .goodtochkabay {
    width: 40%;
  }
  .goodharakteristikabox {
    width: 100%;
  }
  .goodtochkaprice {
    width: 50%;
  }
  .tochkamap {
    /*height: 150px;*/
  }
  .slidtext.slidtextr {
    width: 70%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 14px;
    float: none;
  }
  .slidtext.slidtextl {
    width: 70%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 14px;
    float: none;
  }
  .slidtitle.slidtitle1 {
      color: #333;
    width: 80%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-shadow:none;
  }
  .slidtitle.slidtitle2 {
    width: 80%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  .slidtitle.slidtitle3 {
    width: 80%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  .slidtitle.slidtitle4 {
    width: 80%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  .slidimgl {
        width: 100%;
    margin-top: -6px;
    margin-left: 0px;
    margin-right: -3px;
    float: none;
  }
  .slidimgr {
    width: 195px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .head100 {
    display: inline-block;
    width: 100%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-top:0px;
  }
  .krohki {
    display: inline-block;
  }
  .leftimg {
    float: left;
    width: 50px;
    margin: 5px;
  }
  .marginltext p{
    margin-left: 0px;
  }
  .marginltext ul, .marginltext ol{
    margin-left: 0px;
  }
  .slidebox{
    text-align:center;
  }
  .margin6l{
    margin-left: 15px;
  }
  /*.topbtnboxgreen.topdarckgreen{
      background-color:#333;
  }
  .topbtnboxgreen{
      background-color:#333;
  }*/
  .margintop47{
    /*margin-top: 89px;*/
  }
  .margintop42{
    margin-top: 84px;
  }
  .paddingtop0{
      padding: 0;
      padding-bottom: 100px;
      height: auto;
  }
  .organizationname{
    color: #333;
    font-size: 24px;
    line-height: 20px;
  }
  .organizationphone{
      float:none;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .goodprice {
    width: 42%;
  }
  .goodradiobtn {
    width: 5%;
  }
  .goodtext {
  width: 50%;
  }
  .category-name{
    font-size: 12px;
  }
  .categorycardBig{
      height: 150px;
  }
  .categorycard {
  height: 150px;
}
  .logotext {
  font-family: arial;
  font-weight: 900;
  }
  .logotitle {
    font-family: arial;
  font-weight: 900;
 }
  .margin10LTel{
      margin-left:10px;
  }

  .cartPriceGood{
      font-size:18px;
      width:100%;
      margin-top:5px;
      margin-bottom:5px;
  }

  .displayNone{
      display:none;
  }

  .cartItem{
      border-left:0px;
      -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }

  .radiusTop{
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
  }

  .radiusBottom{
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 3px;
  }

  .cartCount{
      font-size:16px;
      display:inline-block;
      padding: 5px 5px 3px 5px;
      width:100%;
      border-top:0px;
      border-bottom:0px;
      border-left:1px solid #eee;
      border-right:1px solid #eee;
  }

  .nadiusNone{
      border-radius:0px;
  }

  .cartBtnCount{
      font-size:16px;
      padding:5px 10px;
      width:100%;
  }

  .countAndPrice{
      margin-top:8px;
  }

  .cartDelBtn{
      font-size: 30px;
    width: 60px;
    padding: 63px 0px;
  }

  .cartImg {
    margin-top:32px;
}
  .cartName{
      margin-top:44px;
  }
  .videoWrapper {
     width:100%;
     height:208px;
}
}









.ac-container{
    width: 100%;
    margin: 0px;
}

.ac-container label{
    /*font-family: 'Arial Narrow', Arial, sans-serif;*/
    background:#eee;
    padding: 2px 10px;
    position: relative;
    z-index: 20;
    margin:0px;
    display: block;
    font-weight: normal;
    /*height: 30px;*/
    cursor: pointer;
    /*color: #777;*/
    /*text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
    /*line-height: 33px;*/
    /*font-size: 19px;*/
    /*background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
    box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
        0px 2px 2px rgba(0,0,0,0.1);*/
}

.ac-container label:hover{
    background: #eee;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    color: #333;
    /*text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        0px 2px 2px rgba(0,0,0,0.1);*/
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 1px;
    background: transparent url(http://netcribe.com/example/arrow_down.png) no-repeat center center;  
}

.ac-container input:checked + label:hover:after {
    width: 24px;
    height: 24px;
    right: 13px;
    top: 1px;
    background-image: url(http://netcribe.com/example/arrow_up.png);
}

.ac-container input[class="acTitle"]{
    display: none;
}

article .inputOn{
    display: normal;
}

.ac-container article{
    /*background: rgba(255, 255, 255, 0.5);*/
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    /*-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;*/
}
.ac-container input:checked ~ article {
     /*-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);*/
    height: auto;
}

.ac-container article p{
    /*font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
}
