﻿@using Sindika.Web.Models
@model GoodView

@{
//ViewBag.Title = "GoodItem";
}
@Html.Partial("Header")
@Html.Partial("BreadCrumbs")
<div class="w-section">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-5">
                <div class="w-slider goodslider" data-animation="slide" data-duration="500" data-infinite="1">
                    <div class="w-slider-mask">
                        @if (Model.imageGoodList == null || Model.imageGoodList.Count() == 0)
                        {
                            <div class="w-slide"><img src="~/Content/Images/good/fileNull.jpg" /></div>
                        }
                        else
                        {
                            foreach (var imageGood in Model.imageGoodList)
                            {
                                <div class="w-slide"><img src="~/Content/Images/good/@(imageGood.Name).jpg" /></div>
                            }
                        }
                    </div>
                    @*<div class="w-slider-arrow-left">
                        <div class="w-icon-slider-left"></div>
                    </div>
                    <div class="w-slider-arrow-right">
                        <div class="w-icon-slider-right"></div>
                    </div>*@
                    <div class="w-slider-nav w-round"></div>
                </div>
            </div>
            <div class="w-col w-col-7 w-clearfix">
                <h2>@Model.manufacturer.Name @Model.good.Name</h2>
                @*<div class="goodarlicul">[@Model.good.Id] SM-G920F&nbsp;|&nbsp;SM-G925F</div>*@
                @using (Html.BeginForm("Index","Cart"))
                {
                    foreach (var modificationAndPrice in Model.modificationAndPriceSet)
                    {
                        <div class="goodmodefy">
                            @if (Model.modificationAndPriceSet.Count() > 1)
                            {
                                <div class="goodtext">@modificationAndPrice.modificationString </div>
                                <div class="goodradiobtn">@Html.RadioButton("modificationId", modificationAndPrice.modificationGood.Id)</div>
                            }
                            else
                            {
                                <div class="goodtext"></div>
                                <div class="goodradiobtn"></div>
                            }

                            @if (modificationAndPrice.priceSet != null)
                            {
                                if (modificationAndPrice.priceSet.Count == 1)
                                {
                                    <div class="goodprice">@modificationAndPrice.priceSet.Min(x => x.Value) р</div>
                                }
                                else if (modificationAndPrice.priceSet.Count > 1)
                                {
                                    <div class="goodprice">от @modificationAndPrice.priceSet.Min(x => x.Value) р</div>
                                }
                                else
                                {
                                    <div class="goodprice">нет в продаже</div>
                                }
                            }
                            else
                            {
                                <div class="goodprice">нет в продаже</div>
                            }
                        </div>
                    }
                    <div class="goodbtnlist">
                        <div class="goodbtn">
                            <i class="fa fa-clone fa-fw"></i>
                            <div class="goodbtntext">К сравнению</div>
                        </div>
                        <div class="goodbtn">
                            <i class="fa fa-bookmark-o fa-fw"></i>
                            <div class="goodbtntext">В закладки</div>
                        </div>
                        <div class="goodbtn">
                            <i class="fa fa-share-alt fa-fw"></i>
                            <div class="goodbtntext">Поделиться</div>
                        </div>
                        @*<a class="btn" href="#">Показать</a>*@
                        @if (Model.modificationAndPriceSet.Count() == 1 && Model.modificationAndPriceSet[0].priceSet.Count() == 1)
                        {
                            <input class="btngoodview" type="submit" value="В корзину" />
                        }
                        else if (Model.modificationAndPriceSet.Count() == 1 && Model.modificationAndPriceSet[0].priceSet.Count() > 1)
                        {
                            <input class="btngoodview" type="submit" value="Продавцы" />
                        }
                        else if (Model.modificationAndPriceSet.Count() > 1)
                        {
                            <input class="btngoodview" type="submit" value="Показать" />
                        }

                    </div>
                }
                <div class="gooddescription">@Model.good.Description</div>
            </div>
        </div>
        <div class="w-tabs tabs" data-duration-in="300" data-duration-out="100">
            <div class="w-tab-menu">
                <a class="w-tab-link w--current w-inline-block" data-w-tab="Tab 1">
                    <div>Торговые точки</div>
                </a>
                <a class="w-tab-link w-inline-block" data-w-tab="Tab 2">
                    <div>Характеристики</div>
                </a>
                @*<a class="w-tab-link w-inline-block" data-w-tab="Tab 3">
                        <div>Коментарии</div>
                    </a>*@
            </div>
            <div class="w-tab-content">
                <div class="w-tab-pane w--tab-active" data-w-tab="Tab 1">
                    <div class="w-slider organizationmapslider" data-animation="slide" data-duration="500" data-infinite="1">
                        <div class="lr5">
                            @if (Model.organizationUnitAndPriceList.Count() == 0)
                            {
                                <img src="~/Content/Images/maps/map.jpg" width="100%" />
                            }
                            else if (Model.organizationUnitAndPriceList.Count() > 1)
                            {
                                <img src="~/Content/Images/maps/mapAll.jpg" width="100%" />
                            }
                            else
                            {
                                <img src="~/Content/Images/maps/map@(Model.organizationUnitAndPriceList[0].organizationUnit.Id).jpg" width="100%" />
                            }
                        </div>
                    </div>
                    @{bool flag = true;}
                    @foreach (var organizationUnitAndPrice in Model.organizationUnitAndPriceList)
                    {
                        string strClass1;
                        if (flag)
                        {
                            strClass1 = "w-clearfix goodtochka";
                        }
                        else
                        {
                            strClass1 = "w-clearfix goodtochka gray";
                        }
                        flag = !flag;

                        <div class="@strClass1">
                            @*<div class="goodnumbertochka">@organizationUnitAndPrice.organizationUnit.Id</div>
                                @{string hrefStr = "/org" + organizationUnitAndPrice.organization.Id;}
                                <div class="goodtochkaname"><a href="@hrefStr">@organizationUnitAndPrice.organization.Name</a></div>
                                <div class="w-hidden-main w-hidden-medium w-hidden-tiny w-clearfix goodtochkapriceandbay">
                                    <div class="w-hidden-main w-hidden-medium w-hidden-tiny goodtochkaprice">@organizationUnitAndPrice.priceSet.Min(x=>x.Value) р.</div>
                                    <div class="goodtochkabay">
                                        <div class="w-hidden-main w-hidden-medium w-hidden-tiny">В корзину</div>
                                    </div>
                                </div>
                                <div class="goodtochkadescription">@organizationUnitAndPrice.addressStr</div>
                                <div class="goodtochkaprice visible">@organizationUnitAndPrice.priceSet.Min(x => x.Value) р.</div>
                                <div class="goodtochkabay visible">
                                    <div>
                                        @using (Html.BeginForm())
                                        {
                                            @Html.Hidden("PriceId", organizationUnitAndPrice.priceSet[0].Id)
                                            <input type="submit" value="В корзину" />
                                        }
                                    </div>
                                </div>*@
                            <div class="goodnumbertochka">@organizationUnitAndPrice.organizationUnit.Id</div>
                            @{string hrefStr = "/org" + organizationUnitAndPrice.organization.Id;}
                            <div class="goodtochkaname"><a href="@hrefStr">@organizationUnitAndPrice.organization.Name</a> <span class="textgray">@organizationUnitAndPrice.addressStr</span></div>
                            <div class="goodtochkaprice">@organizationUnitAndPrice.priceSet.Min(x => x.Value) р.</div>
                            @using (Html.BeginForm("Index", "Cart"))
                            {
                                @Html.Hidden("PriceId", organizationUnitAndPrice.priceSet[0].Id)
                                <input class="goodtochkabay" type="submit" value="В корзину" />
                            }
                        </div>
                                }
                </div>
                <div class="w-tab-pane" data-w-tab="Tab 2">
                    @{flag = true;}
                    @foreach (var propertyGroup in Model.propertyGroupAndValueSet)
                    {
                        string strClass2;
                        if (flag)
                        {
                            strClass2 = "goodharakteristikagroup";
                        }
                        else
                        {
                            strClass2 = "goodharakteristikagroup gray";
                        }
                        flag = !flag;
                        <div class="@strClass2">
                            <div class="w-row">
                                <div class="w-col w-col-3 w-clearfix">
                                    <div class="goodharakteristikagroupname">@propertyGroup.propertyGroup.Name</div>
                                </div>
                                <div class="w-col w-col-9 w-clearfix">
                                    @foreach (var propertyAndValue in propertyGroup.propertyAndValueSet)
                                    {
                                        if (propertyAndValue.propertyValueString != string.Empty)
                                        {
                                            <div class="goodharakteristikabox">
                                                <div class="goodharakteristikaname">@propertyAndValue.property.Name</div>
                                                <div class="goodharakteristikavalue">@propertyAndValue.propertyValueString</div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="w-tab-pane" data-w-tab="Tab 3"></div>
            </div>
        </div>
    </div>
</div>