﻿@using Sindika.Web.Models
@model List<CategoryView.GoodCard>
@{
//ViewBag.Title = "Index";
}


@Html.Partial("Header")
@*@Html.Partial("BreadCrumbs")*@

<div class="w-section categoryset">
    <div class="w-container">
        <div class="w-row">
                    @foreach (var goodCard in Model)
            {
                        <div class="w-col w-col-3 w-col-small-4">
                            <div class="w-clearfix goodcard">
                                <div class="w-row">
                                    <div class="w-col w-col-12 w-col-tiny-5">
                                        <div class="w-clearfix">
                                            <a href="/tovar/@goodCard.good.Id">
                                                <img class="goodcardimg" src="~/Content/Images/good/@(goodCard.image).jpg">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="w-col w-col-12 w-col-tiny-7">
                                        <div class="w-clearfix margin10LTel">
                                            <a href="/tovar/@goodCard.good.Id">
                                                <div class="goodcardmanufacturer">@goodCard.manufacturer.Name</div>
                                                <div class="goodcardmodel">@goodCard.good.Name</div>
                                                <div>Модификаций: @goodCard.modificationGoodCount</div>
                                                @*<div>@goodCard.propertyValueLine</div>*@
                                                @if (goodCard.priceSet == null || goodCard.priceSet.Count() == 0)
                                                {
                                                    <div class="goodcardprice">нет в наличии</div>
                                                }
                                                else if (goodCard.priceSet.Count() == 1)
                                                {
                                                    <div class="goodcardprice">@goodCard.priceSet.Min(x => x.Value) р.</div>
                                                }
                                                else
                                                {
                                                    <div class="goodcardprice">от @goodCard.priceSet.Min(x => x.Value) р.</div>
                                                }
                                            </a>

                                            <div class="w-clearfix">
                                                <div class="goodcardicon">
                                                    <i class=" fa fa-clone fa-fw icon22 margin10"></i><i class="fa fa-bookmark-o fa-fw icon22 margin10 margin6l"></i>
                                                    @*<img class="goodcardbtnicon" src="~/Content/Template/images/comparisonGray.png" width="24"><img class="goodcardbtnicon" src="~/Content/Template/images/favoritGray.png" width="24">*@
                                                </div>
                                                <div class="goodcardbtn">
                                                    <a class="goodcardbtntext" href="/tovar/@goodCard.good.Id">Показать</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                </div>
    </div>
</div>