﻿@Html.Partial("Header")

<div class="w-section categoryset">
    <div class="w-container">
        <div class="w-row">
            <div class="textlr">
                <h2>Акции</h2>
                <p>Продавцы МТВК «Синдика» регулярно радуют своих покупателей скидками и распродажами. В этом разделе сайта всегда можно получить информацию об актуальных спецпредложениях и акциях. Обратившись в указанный павильон сообщите продавцу что узнали об акции на сайте «Синдики» и получите приятную скидку!</p>
            </div>
        </div>
    </div>
</div>