﻿@Html.Partial("Header")

<div class="w-section categoryset">
    <div class="w-container">
        <div class="w-row">
            <div class="textlr">
                <h2>Арендаторам</h2>
                <p>Всем кто хочет открыть свое представительство (торговую точку) в самом крупном строительном комплексе Европы, расширить свой бизнес, приглашаем обратиться в администрацию «Синдики» и выбрать наиболее удачное месторасположение торгово-выставочной площади на выгодных условиях.</p>
                <p>
                    <b>Для оформления Договора аренды необходимы следующие документы:</b><br /><br />

                    <b>Если Вы Индивидуальный Предприниматель:</b><br />
                    1. Копия свидетельства о регистрации в налоговом органе<br />
                    2. Уведомление о постановке на учёт физического лица<br />
                    в налоговый орган на территории РФ<br />
                    3. Паспорт и копия паспорта<br /><br />

                    <b>Если Вы представитель Общества (ООО):</b><br />
                    1. Устав<br />
                    2. Решение о назначение Генерального директора<br />
                    3. Свидетельство о регистрации юридического лица<br />
                    4. Свидетельство о постановке на учёт<br />
                    5. Выписка из ЕГРЮЛ<br />
                    6. Коды статистики<br />
                    7. Банковские реквизиты
                </p>
            </div><br /><br />
            <div class="w-col w-col-3 w-col-tiny-12">
                <p>
                    <b>Администрация:</b><br />
                    8 (495) 942-95-00<br />
                    e-mail: secretar_mtvk@sindika.ru
                </p>
            </div>
            <div class="w-col w-col-3 w-col-tiny-12">
                <p>
                    <b>Отдел аренды:</b><br />
                    8 (495) 668-55-77<br />
                    8 (926) 851-22-99<br />
                    e-mail: secretar_mtvk@sindika.ru
                </p>
            </div>
            <div class="w-col w-col-3 w-col-tiny-12">
                <p>
                    <b>Отдел аренды второго этажа:</b><br />
                    Мебель Отделка Декор<br />
                    www.sindikamebel.ru<br />
                    8 (499) 550-60-00<br />
                    e-mail: arenda@sindikamebel.ru
                </p>
            </div>
            <div class="w-col w-col-3 w-col-tiny-12">
                <p>
                    <b>Рекламный отдел:</b><br />
                    8 (495) 647-12-01<br />
                    e-mail: vasilieva.evgeniya@gmail.com
                </p>
            </div>
        </div>
    </div>
</div>