﻿@Html.Partial("Header")

<div class="w-section categoryset">
    <div class="w-container">
        <div class="w-row">
            <div class="textlr">
                <h2>Контакты</h2>
            </div>
            <div class="w-col w-col-3 w-col-tiny-12">
                <p>
                    <b>Администрация:</b><br />
                    8 (495) 942-95-00<br />
                    e-mail: secretar_mtvk@sindika.ru
                </p>
            </div>
            <div class="w-col w-col-3 w-col-tiny-12">
                <p>
                    <b>Отдел аренды:</b><br />
                    8 (495) 668-55-77<br />
                    8 (926) 851-22-99<br />
                    e-mail: secretar_mtvk@sindika.ru
                </p>
            </div>
            <div class="w-col w-col-3 w-col-tiny-12">
                <p>
                    <b>Отдел аренды второго этажа:</b><br />
                    Мебель Отделка Декор<br />
                    www.sindikamebel.ru<br />
                    8 (499) 550-60-00<br />
                    e-mail: arenda@sindikamebel.ru
                </p>
            </div>
            <div class="w-col w-col-3 w-col-tiny-12">
                <p>
                    <b>Рекламный отдел:</b><br />
                    8 (495) 647-12-01<br />
                    e-mail: vasilieva.evgeniya@gmail.com
                </p>
            </div>
            <div class="w-clearfix"></div>
            <div class="w-col w-col-3 w-col-tiny-12">
                <p>
                    <b>Почтовый адрес:</b><br />
                    143082, Московская область, Одинцовский р-н, дер. Раздоры, МКАД 65км
                </p>
            </div>
            <div class="w-col w-col-3 w-col-tiny-12">
                <p>
                    <b>Режим работы:</b><br />
                    Ежедневно с 8:00 до 22:00
                </p>
            </div>
            <div class="w-col w-col-12 w-col-tiny-12">
                <p>
                    <b>Как добраться общественным транспортом:</b><br />
                    От ст. метро «Мякинино» - автобусы №631, №640.<br />
                    От ст. метро «Тушинская» - автобусы №631, №640 или маршрутное такси №631м, №450м до остановки «Мякинино».<br />
                    От ст.метро «Строгино» -автобус №654, №736 или маршрутное такси №631м, №357м, №857м до остановки «Мякинино».<br />
                    От ст.метро «Щукинская» - автобус №638, №640 или маршрутное такси №638м, №357м, №696мдо остановки «Мякинино».
                </p>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=vu0adWHV5kzmNf7vXKIziCTiFDRQ5Z3S&width=100%&height=430&lang=ru_RU&sourceType=constructor"></script>