﻿@Html.Partial("Header")

<div class="w-section categoryset">
    <div class="w-container">
        <div class="w-row">
            <div class="textlr">
                <h2>Новости</h2>
                <p></p>
            </div>
        </div>
    </div>
</div>