﻿@Html.Partial("Header")

<div class="w-section categoryset">
    <div class="w-container">
        <div class="w-row">
            <div class="textlr">
                <h2>О комплексе</h2>
                <p>Летом 2014 года МТВК «Синдика» открыл двери для своих покупателей. Теперь купить товары для строительства и ремонта, составить проект, смету или заключить договор на строительные и отделочные работы можно в одном месте, в комфортных и современных условиях.</p>
                <div class="videoWrapper">
                    <iframe width="1280" height="720" src="https://www.youtube.com/embed/5gg0tsWFA14?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <p>
                    Наши преимущества:<br />

                    ● Крупнейший торговый центр строительных и отделочных материалов, инструмента а также товаров для обустройства дома. На площади более 130 000 м² расположилось порядка 1 200 магазинов.<br />
                    ● Широкий ассортимент строительных товаров и услуг от «эконом-класса» до сегмента «премиум» впечатлит самого взыскательного покупателя.<br />
                    ● Удобное и доступное месторасположение на 65 км. МКАД, в одном из самых развитых с точки зрения инфраструктуры районов Московского региона.<br />
                    ● Бесплатный паркинг на 5 500 машиномест, отдельные погрузочные зоны, прямые въезды, выезды на МКАД и Мякиниский проезд, соединяющий комплекс с районом Строгино.<br />
                    ● Современная инфраструктура включает в себя магазины, офисные помещения, шоу-румы дизайн-студий, архитектурных бюро и строительных подрядных организаций.<br />
                    ● На втором торговом уровне располагается просторный фуд-корт, где представлены рестораны с кухней разных стран мира и уютные кафе.<br />
                    ● В специально отведённой зоне на территории комплекса представлены организации, специализирующиеся на строительстве коттеджей и загородных домов. Для посещения и осмотра доступно несколько десятков готовых объектов.<br />
                    ● Сложившаяся покупательская аудитория, торговые отношения в лучших традициях строительного рынка «Синдика-О», широко известного с 1996 года в кругах профессионалов, занимающихся строительством.
                </p>

                <p>Ремонт в квартире или офисе, строительство загородного дома и даже выбор необходимого инструмента раньше могли показаться непростой задачей, но теперь это в прошлом. Именно у нас разнообразие выбора качественных товаров по выгодным ценам поможет осуществить Ваши самые грандиозные планы в кротчайшие сроки.</p>

                <h3>История развития</h3>
                <div class="w-col w-col-4 w-col-tiny-12">
                    <img width="100%" src="http://sindika.ru/assets/templates/img/Sindika%204day%20bird%20view.jpg" />
                </div>
                <div class="w-col w-col-8 w-col-tiny-12">
                    <p>
                        <b>Строительство осуществляется в три этапа:</b><br />
                        <b>I этап:</b><br />
                        ● Торгово-выставочный комплекс (строительные и отделочные материалы, предметы декора и интерьера, товары для дома, мебель, бытовая техника) - 150 000  м2.<br />
                        <b>II этап:</b><br />
                        ● Торгово-развлекательный комплекс - 61440м2<br />
                        ● Офисная часть здания - 12600м2.<br />
                        <b>III этап:</b><br />
                        ● Торгово-выставочный комплекс -  57 170м2<br />
                    </p>
                </div>
                <p>Во второй половине 2014 года «Синдика» вновь стала доступна покупателям в формате современного торгового комплекса, обладающего не только ярким и привлекательным обликом, но и современным техническим оснащением, создающим комфортные условия для покупок.</p>
                <div class="videoWrapper">
                    <iframe width="1280" height="720" src="https://www.youtube.com/embed/uzXt_trVgjc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="w-clearfix"><br /></div>
                <div class="w-col w-col-3 w-col-tiny-12">
                    <img width="100%" src="http://sindika.ru/assets/templates/img/gallery/IMG_9112_crop.jpg" />
                </div>
                <div class="w-col w-col-9 w-col-tiny-12">
                    <p>На первом этаже уже сейчас 1 200 специализированных магазинов предлагают покупателям самый широкий в Москве и области ассортимент строительных, ремонтных и отделочных материалов, разнообразный инструмент, а также все связанное с оформлением дома и  от лучших отечественных и зарубежных производителей.</p>
                </div>
                <div class="w-clearfix"></div><br />
                <div class="w-col w-col-3 w-col-tiny-12">
                    <img width="100%" src="http://sindika.ru/assets/templates/img/gallery/IMG_9125_crop.jpg" />
                </div>
                <div class="w-col w-col-9 w-col-tiny-12">
                    <p>На втором этаже комплекса открылся большой и современный мебельный центр, предлагающий самые современные и неожиданные дизайнерские решения в оформлении интерьеров после ремонта и выборе мебели.</p>
                </div>
                <div class="w-clearfix"></div><br />
                <div class="w-col w-col-3 w-col-tiny-12">
                    <img width="100%" src="http://sindika.ru/assets/templates/img/gallery/1-IMG_0355_crop.jpg" />
                </div>
                <div class="w-col w-col-9 w-col-tiny-12">
                    <p>На территории комплекса представлены организации, специализирующиеся на строительстве коттеджей и загородных домов. Здесь вы сможете осмотреть дома снаружи и внутри во всех деталях и сравнить предложения от разных компаний.</p>
                </div>
                <div class="w-clearfix"></div><br />
                <p>Торгово-выставочный комплекс «Синдика» находится в зоне высокой транспортной доступности. Непосредственная близость МКАД позволяет добраться на автомобиле из любого региона. Близлежащими крупнейшими транспортными артериями являются Рублевское, Строгинское, Звенигородское, Новорижское и Волоколамское шоссе</p>
                <img width="100%" src="http://sindika.ru/assets/templates/img/gallery/1-P7224913%D0%902_crop.jpg" />
                <p>Бесплатный и удобный паркинг на 5 200 машиномест делает МТВК "Синдика" особенно удобным для посещения на автомобиле. Заезд на территорию комплекса осуществляется со стороны МКАД и с Мякининского проезда, соединяющего территорию комплекса с районом Строгино.</p>
                <p>Объект находится в зоне доступа общественным городским транспортом. Ближайшие станции метро: «Строгино», «Мякинино», «Щукинская», «Тушинская». От метро следуют регулярные рейсы автобусов и маршрутных такси; напротив «Синдика» находится «Ашан».</p>
                <p>Комфортные условия для покупателей, широкий ассортимент товаров и предоставляемых услуг, хорошая транспортная доступность, сложившиеся покупательские потоки, высокоразвитая инфраструктура, окружение многофункционального комплекса, масштаб и уникальность  проекта – все это обеспечивает высокий потребительский спрос со стороны покупателей  и привлекательность для потенциальных арендаторов.</p>
            </div>
        </div>
    </div>
</div>