﻿@Html.Partial("Header")
<div class="w-section categoryset">
    <div class="w-container">
        <div class="w-row">
            <div class="textlr">
                <h2>Схема комплекса</h2>
                <img src="~/Content/Images/maps/mapFloor1.jpg" width="100%" />
                <img src="~/Content/Images/maps/mapFloor2.jpg" width="100%" />
            </div>
        </div>
    </div>
</div>